/* ...... général */

body {

}

img { border:0; }

a {	color:#9E8454;}
a:visited { color:#9E8454; }
a.externe {	color:#4C5E90; }
a.externe:visited {	color:#4C5E90;}

h2 {
	clear:both;
	background-color:#737E95;
	color: #D9D9D9;
	width:50%;
}

h3 {background-color:#BCCBDE;}

code { background-color:#ADD0E6;}
pre {
	margin-left : 5%;
	margin-right: 10%;
	background-color:#FDE8DA;
	border: 1px dashed #000000;
	padding: 5px;
   overflow:auto;
}

pre code{
	background-color:#FDE8DA;
}

tt { font-style: italic;}
kbd { background-color:#FDE8DA; }
var { background-color:#ADD0E6; }

dt { font-weight: bold; margin-top:1em;}


blockquote {
	background-color:#FDEFE0;
	border: 1px dotted #000000;
	padding: 5px;
	font-style: italic;
}









