body { background:#fff; color:#444; font:76%/1.5 Verdana, sans-serif; text-align:center }
h1 { color:#CA6900; font:normal 2.2em Georgia, serif; background:#fff; padding-top:140px }
h2 { color:#CA6900; font:normal 2.2em Georgia, serif; background:#fff url(maintenance.png) no-repeat center top; padding-top:140px }
p { width:40em; margin:0 auto; padding:1.5em; border:1px solid #ddd }