/***************** Ajout intégration maquette Lodel ****************/

a:link {text-decoration: none; color: #CC9933;}
a:visited {text-decoration: none; color: #CC9933;}
a:hover {text-decoration: none;}

div a:link {color: #CC9933;}
div a:visited {color: #CC9933;}
div a:hover {color: #FFBB03;}

img.picto, img.picto_statut, img.picto_fleche {
	border: none;
	vertical-align: bottom;
}

img.picto_gauche {
	float:left;
	margin-right:10px;
}

img.picto_fleche {vertical-align:bottom;}

/*div.ligne_groupe1, div.ligne_groupe2 {
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.ligne_groupe1 {background-color: #F3F3F3;}
div.ligne_groupe2 {background-color: #FFFFFF;}

div.ligne_art1, div.ligne_art2, div.ligne_serie1, div.ligne_serie2 {
	padding-left: 10px;
	margin-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}
div.groupe div.ligne_art1 {background-color: #F3F3F3;}
div.groupe div.ligne_art2 {background-color: #FFFFFF;}*/

div.ligne_serie1, div.ligne_serie2,
div.ligne_numero1, div.ligne_numero2, 
div.ligne_theme1, div.ligne_theme2, 
div.ligne_regroupement1, div.ligne_regroupement2, 
div.ligne_document_isole1, div.ligne_document_isole2, 
div.ligne_document_regroupement1, div.ligne_document_regroupement2 {
	padding-left: 10px;
	margin-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.ligne_document_regroupement1, div.ligne_document_regroupement2 {margin-left: 70px;}

div.ligne_serie1 {background-color: #FDFAF1;}
div.ligne_serie2 {background-color: #FFFFFF;}
div.ligne_numero1 {background-color: #EDFDF3;}
div.ligne_numero2 {background-color: #FFFFFF;}
div.ligne_theme1 {background-color: #FFFEE8;}
div.ligne_theme2 {background-color: #FFFFFF;}
div.ligne_regroupement1 {background-color: #DFEDE4;}
div.ligne_regroupement2 {background-color: #EFFFEF;}
div.ligne_document_isole1 {background-color: #F3F3F3;}
div.ligne_document_isole2 {background-color: #FFFFFF;}
div.ligne_document_regroupement1 {background-color: #F3F3F3;}
div.ligne_document_regroupement2 {background-color: #FFFFFF;}

div.ligne_ajouter, 
div.ligne_ajouter_serie, 
div.ligne_ajouter_numero, 
div.ligne_ajouter_regroupement, 
div.ligne_ajouter_theme,
div.ligne_ajouter_document_dans_un_regroupement1, 
div.ligne_ajouter_document_dans_un_regroupement2  {
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-family: verdana;
	font-size: 10pt;
	font-weight: bold;
}

div.ligne_ajouter_document_dans_un_regroupement1, 
div.ligne_ajouter_document_dans_un_regroupement2 {
	margin-top: 0px;
	margin-left: 30px;
}

div.ligne_ajouter_serie {background-color: #FDFAF1;}
div.ligne_ajouter {background-color: #E5E5E5;}
div.ligne_ajouter_theme {background-color: #FFFEE8;}
div.ligne_ajouter_numero {background-color: #EDFDF3;}
div.ligne_ajouter_regroupement {background-color: #D5E4DA;}
div.ligne_ajouter_document_dans_un_regroupement1 {background-color: #DFEDE4;}
div.ligne_ajouter_document_dans_un_regroupement2 {background-color: #EFFFEF;}

/******************** DOCUMENTS **********************/
.titre_document, .titre_doc_fa, 
.auteurs_document, .auteurs_doc_fa, 
.type_document, .type_doc_fa {
	font-family: verdana;	
	text-align: left;
	font-size: 10pt;
}

.titre_document, .auteurs_document, .type_document {color: #333333;}
.titre_doc_fa, .auteurs_doc_fa, .type_doc_fa {color: #CC9933;}

.titre_document, .titre_doc_fa {font-weight: bold;}

.type_document, .type_doc_fa {
	font-size: 8pt;
	font-style: italic;
}

/******************** FIN DOCUMENTS **********************/


/******************** SERIES **********************/
div.edition_des_series {
	margin-top: 10px;
	height:43px;
}

.texte_edition_des_series {
	font-size: 16px;
	font-weight : bold;
	font-style:italic;
	color: #728979;
	font-family: Verdana;
	vertical-align:middle;
}

.titre_serie, .nom_serie, .type_serie {
	font-family: verdana;	
	font-size: 10pt;
	color: #333333;
	text-align: left;
}

.nom_serie {font-weight: bold;}

.type_serie {
	font-size: 8pt;
	font-style: italic;
}
/******************** FIN SERIES **********************/


/******************** Infos publi parente **********************/
div.ligne_infos_parent {
	margin-top: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.titre_parent, .nom_parent, .type_parent {
	font-family: verdana;	
	font-size: 10pt;
	color: #333333;
	text-align: left;
}

.nom_parent {font-weight: bold;}

.type_parent {
	font-size: 8pt;
	font-style: italic;
}
/******************** Fin Infos publi parente **********************/

div.pas_de_publication {
	margin-top: 50px;
	font-family: verdana;
	font-size: 12pt;
	text-align:center;
	font-weight: bold;
	font-style: italic;
}

/*div.ligne_ajouter a:visited {color: #CC9933;}
div.ligne_ajouter a:hover {color: #FFBB03;}

div.ligne_ajouter_art {
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #E5E5E5;
	color: #CC9933;
	font-weight: bold;
}

div.ligne_ajouter_art a:link {color: #CC9933;}
div.ligne_ajouter_art a:visited {color: #CC9933;}
div.ligne_ajouter_art a:hover {color: #FFBB03;}*/

div.action {
	font-family: verdana;	
	font-size: 10pt;
	color: #CC9933;
	float: right;
	text-align: left;
	margin-right: 20px;
	width: 400px;
}

div.action_formulaire {
	font-family: verdana;	
	font-size: 10pt;
	color: #CC9933;
	text-align: left;
	margin-right: 20px;
	width: 550px;
}

.table_statut, .table_docannexes, .table_normale, .table_popup {
	font-family: verdana;	
	font-size: 10pt;
	color: #CC9933;
	text-align: left;
	margin-left: 70px;
}

.table_docannexes {margin-left: 90px;}
.table_normale {color: #333333;}
.table_popup {color: #333333; margin-left: 0px;}

.inactif {
	font-family: verdana;	
	color: #999999;
}


img.icone {
	float: left;
	margin-right: 10px;
}

img.illus {float: right;}

div.article {margin-left: 32px;}

/*div.ligne_ajouter_nongrp {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #E0E7E1;
	font-weight: bold;
}

div.nongroupe div.ligne_art1 {
	background-color: #F0F6F1;
}

div.nongroupe div.ligne_art2 {
	background-color: #FAFFFB;
}

div.theme div.ligne_art1 {
	background-color: #F0F6F1;
}

div.theme div.ligne_art2 {
	background-color: #FAFFFB;
}*/

/************ Styles pour le tpl publication **************/
div.ligne_haut_tpl_publication, 
div.ligne_parent_tpl_publication,
.texte_ligne_haut_tpl_publication {
	font-family: Verdana;
	font-style:italic;
	color: #CC9933;
}

div.ligne_haut_tpl_publication {
	height:69px;
	margin-bottom: 10px;
}

.texte_ligne_haut_tpl_publication {
	font-size: 18px;
	font-weight: bold;
}

div.ligne_parent_tpl_publication {	
	height: 35px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 70px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.nom_publi_parente {
	color: #000000;
	font-style:normal;
}

div.ligne_formulaire {
	padding-bottom:40px;
}

div.ligne_info, div.intitule_ligne_formulaire {
	width: 400px;
	padding-top:5px;
	padding-left: 70px;
	padding-bottom:5px;
	font-family: Verdana;
}

div.intitule_ligne_formulaire {
	float: left;
}

.texte_info {
	font-family: Verdana;
	font-size: 10px;
}

.texte_intitule {
	font-size: 12px;
	font-weight: bold;
}

.texte_normal {
	font-family: Verdana;
	font-size: 12px;
	color: #333333;
}

.texte_noir_gras {
	font-weight: bold;
	font-size: 10pt;
	color:#333333;
}

.message_erreur {
	font-family: Verdana;
	font-size: 10pt;
	color: red;
}

.pied_de_formulaire {
	text-align:center;
	margin-bottom:40px;
	padding-bottom:40px;
	padding-top:40px;
	width:800px;
}

.titre_publi, .nom_publi, .type_publi {
	font-family: verdana;	
	color: #CC9933;
	text-align: left;
}

.nom_publi {
	font-size: 12pt;
	font-weight: bold;
}

.titre_publi {
	font-size: 12pt;
	font-weight: normal;
}

.type_publi {
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
}

.ligne_entete {
	margin-left:70px;
	margin-top:20px;
	margin-bottom:20px;
}

div.ligne_statut {
	padding-top:5px;
	padding-left: 70px;
	padding-bottom:5px;
	font-family: Verdana;
	font-size: 10pt;
}

/******** Fin des styles pour le tpl publication **********/


/******** Styles pour les popup **********/
.texte_ligne_haut_popup {
	font-family: Verdana;
	font-style:italic;
	color: #CC9933;
	padding-left:10px;
	font-size: 18px;
	font-weight: bold;
}

.texte_info_popup {
	font-family: verdana;
	color: #333333;
	font-size: 10px;
}

.sous_titre_popup {
	font-family: verdana;	
	color: #333333;
	font-size: 12pt;
}

div.lien_popup a:link {
	color: #CC9933;
	font-family: verdana;
	font-size: 10px;
}

div.lien_popup a:visited {
	color: #CC9933;
	font-family: verdana;
	font-size: 10px;
}

div.lien_popup a:hover {
	color: #FFBB03;
	font-family: verdana;
	font-size: 10px;
}

.table_popup {
	font-family: Verdana;
	color: #333333;
	font-size: 11px;
}


.table_form_popup {
	font-family: Verdana;
	color: #333333;
	font-size: 11px;
	margin-left: 70px;
}

.titre_partie_popup {
	font-family: Verdana;
	color: #CC9933;
	font-size: 11px;
	font-weight: bold;
	padding-left:10px;
}

/******** Fin de styles pour les popup **********/





/************ Styles de la page de login ******************/
#logo1 {
	position: absolute;
	top: 0px;
	left: 0px;			
}

#logo2 {
	position: absolute;
	height: 171px;
	top: 0px;
	left: 479px;
}

#formulaire {
	position: absolute;
	top: 200px;
}

#titre_formulaire {
	position: relative;
	text-align: right;
	left: 73px;
	width: 200px;
}

#titre_formulaire p {
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
	color: #669966;
}

#champ_formulaire {
	position: relative;
	left: 120px;
	width: 300px;
	text-align: right;
	margin-bottom: 15px;
}

#champ_formulaire p {
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
}

#champ_formulaire input {
	width: 142px;
}

#credit {
	position: absolute;
	top: 400px;
	width: 600px;
}

#credit p {
	font-family: verdana;
	font-size: 12px;
	color: #666666;
	margin-left: 15px;
}
/*************** Fin des styles de la page de login ****************/


/*************** Fin ajout intégration maquette Lodel **************/
.texte {
	font-size: small;
	font-weight: small;
	text-align : justify;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.fase4_rdf {
	font-size: x-small;
	font-weight: small;
	text-align : justify;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.texte_petit {
	font-size: x-small;
	font-weight: small;
	text-align : justify;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.texte_trespetit {
	font-size: xx-small;
	font-weight: small;
	text-align : justify;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.texte_centre {
	font-size: small;
	font-weight: small;
	text-align : center;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.texte_petit_centre {
	font-size: x-small;
	font-weight: small;
	text-align : center;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.texte_trespetit_centre {
	font-size: xx-small;
	font-weight: small;
	text-align : center;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.texte_sommaire {
	font-size: small;
	font-weight: small;
	text-align : left;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.navigation {
	font-size: x-small;
	font-weight: small;
	text-align : center;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.barretitre {
	font-size: x-small;
	font-weight: small;
	text-align : left;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.citation {
	font-size: small;
	text-align : justify;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
	padding-left : 50px;
	padding-right : 50px;
}


.notes {
	font-size: xx-small;
	font-weight: small;
	text-align : justify;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.appeldenote {
	font-size: xx-small;
	font-weight: small;
	text-align : justify;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}


A:link, A:visited, A:active {
	text-decoration: none;
	color: Blue;
	font-style : normal;
}

A:hover {
	color: Red;
}

.resume
{
	font-style : italic;
	font-family : "Verdana, Helvetica, sans-serif, Times New Roman"font-size : x-small;
	color : #454545;
	text-align : justify;
}

.titre
{
	font-family : "Verdana, Helvetica, sans-serif, Times New Roman";
	font-size : large;
	color : black;
	text-align : center;
	font-weight : bold;
	font-variant : small-caps;
	font-style : normal;
}

.titrerevue
{
	font-family : "Verdana, Helvetica, sans-serif, Times New Roman";
	font-size : large;
	color : Navy;
	text-align : center;
	font-weight : bold;
	font-style : normal;
}

.soustitre
{
	font-family : "Verdana, Helvetica, sans-serif, Times New Roman";
	font-size : medium;
	color : black;
	text-align : center;
}

.soustitrerevue
{
	font-family : "Verdana, Helvetica, sans-serif, Times New Roman";
	font-size : medium;
	color : Navy;
	text-align : center;
}

.partie
{
	font-family : "Verdana, Helvetica, sans-serif, Times New Roman";
	font-size : medium;
	color : navy;
	text-align : center;
}

.auteur
{
	font-family : "Verdana, Helvetica, sans-serif, Times New Roman";
	font-size : small;
	color : Navy;
	text-align : center;
	font-weight : bold;
}

.directeur
{
	font-family : "Verdana, Helvetica, sans-serif, Times New Roman";
	font-size : small;
	color : Navy;
	text-align : center;
	font-weight : bold;
}

.tableau {
	font-size: x-small;
	font-weight: normal;
	text-align : justify;
}

	H1 {
	font-size: large;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
	text-align: justify;
}
	H2 {
	font-size: medium;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman;
	";
	padding-left : 50px;
	text-align: left
}
	H3 {
	font-size: small;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
	text-align: center;
	padding-left : 150px;
	color: #00000
}
	H4 {font-size: 12pt; font-family: "Verdana, Helvetica, sans-serif, Times New Roman;"; text-align: left; color: #000000; line-height: 0.8; margin-bottom: 0px; margin-top: 10px; padding-top: 0px;padding-bottom: 0px}
	H5 {font-size: 10pt; font-family: "Verdana, Helvetica, sans-serif, Times New Roman;"; text-align: left; color: #000000; line-height: 1; margin-bottom: 0px; margin-top: 0px; padding-top: 0px;padding-bottom: 0px}
	H6 {
	font-size: 10pt;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman;";
	text-align: left;
	color: Black;
}
	H7 {font-size: 28pt; font-family: "Verdana, Helvetica, sans-serif, Times New Roman;"; text-align: center; color: #00000; line-height: 1; margin-bottom: 0px; margin-top: 0px; padding-top: 0px;padding-bottom: 0px}

