/***************** Ajout intégration maquette Lodel ****************/

a:link {text-decoration: none; color: #CC9933;}
a:visited {text-decoration: none; color: #CC9933;}
a:hover {text-decoration: underline;}

img.picto, img.picto_statut, img.picto_fleche {
	border: none;
	vertical-align: bottom;
}

img.picto_gauche {
	float:left;
	margin-right:10px;
}

img.picto_fleche {
	vertical-align:bottom;
}

div.ligne_groupe1, div.ligne_groupe2 {
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.ligne_groupe1 {background-color: #F3F3F3;}
div.ligne_groupe2 {background-color: #FFFFFF;}

div.ligne_art1, div.ligne_art2, div.ligne_serie1, div.ligne_serie2 {
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	min-height: 60px;
}

div.groupe div.ligne_art1 {background-color: #F3F3F3;}
div.groupe div.ligne_art2 {background-color: #FFFFFF;}

div.ligne_numero1, div.ligne_numero2 {
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.ligne_numero1 {background-color: #F3F3F3;}
div.ligne_numero2 {background-color: #FFFFFF;}

/******************** SERIES **********************/
div.edition_des_series {
	margin-top: 10px;
	height:43px;
}

.texte_edition_des_series {
	font-size: 16px;
	font-weight : bold;
	font-style:italic;
	color: #728979;
	font-family: Verdana;
	vertical-align:middle;
}

div.ligne_serie1 {background-color: #FDFAF1;}
div.ligne_serie2 {background-color: #FFFFFF;}
div.ligne_ajouter_serie {background-color: #FDFAF1;}

.titre_serie, .nom_serie, .type_serie {
	font-family: verdana;	
	color: #333333;
	text-align: left;
}

.nom_serie {
	font-size: 10pt;
	font-weight: bold;
}

.titre_serie {
	font-size: 10pt;
	font-weight: normal;
}

.type_serie {
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}
/******************** FIN SERIES **********************/


/******************** Infos publi parente **********************/
div.ligne_infos_parent {
	margin-top: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.titre_parent, .nom_parent, .type_parent {
	font-family: verdana;	
	color: #333333;
	text-align: left;
}

.nom_parent {
	font-size: 10pt;
	font-weight: bold;
}

.titre_parent {
	font-size: 10pt;
	font-weight: normal;
}

.type_parent {
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}
/******************** Fin Infos publi parente **********************/



div.pas_de_publication {
	margin-top: 50px;
	font-family: verdana;
	font-size: 12pt;
	text-align:center;
	font-weight: bold;
	font-style: italic;
}

div.ligne_ajouter, div.ligne_ajouter_serie {
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-family: verdana;
	font-size: 10pt;
	font-weight: bold;
}

div.ligne_ajouter {background-color: #E5E5E5;}
div.ligne_ajouter a:visited {color: #CC9933;}
div.ligne_ajouter a:hover {color: #FFBB03;}

div.ligne_ajouter_art {
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #E5E5E5;
	color: #CC9933;
	font-weight: bold;
}

div.ligne_ajouter_art a:link {color: #CC9933;}
div.ligne_ajouter_art a:visited {color: #CC9933;}
div.ligne_ajouter_art a:hover {color: #FFBB03;}

div.action {
	font-family: verdana;	
	font-size: 10pt;
	color: #CC9933;
	float: right;
	text-align: left;
	width: 400px;
	margin-right: 20px;
}

.inactif {
	font-family: verdana;	
	color: #999999;
}

div a:link {color: #CC9933;}
div a:visited {color: #CC9933;}
div a:hover {color: #FFBB03;}

img.icone {
	float: left;
	margin-right: 10px;
}

img.illus {
	float: right;
}

div.article {
	margin-left: 32px;
}

div.ligne_ajouter_nongrp {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #E0E7E1;
	font-weight: bold;
}

div.nongroupe div.ligne_art1 {
	background-color: #F0F6F1;
}

div.nongroupe div.ligne_art2 {
	background-color: #FAFFFB;
}

div.theme div.ligne_art1 {
	background-color: #F0F6F1;
}

div.theme div.ligne_art2 {
	background-color: #FAFFFB;
}

/************ Styles de la page de login ******************/
#logo1 {
	position: absolute;
	top: 0px;
	left: 0px;			
}

#logo2 {
	position: absolute;
	height: 171px;
	top: 0px;
	left: 479px;
}

#formulaire {
	position: absolute;
	top: 200px;
}

#titre_formulaire {
	position: relative;
	text-align: right;
	left: 73px;
	width: 200px;
}

#titre_formulaire p {
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
	color: #669966;
}

#champ_formulaire {
	position: relative;
	left: 120px;
	width: 300px;
	text-align: right;
	margin-bottom: 15px;
}

#champ_formulaire p {
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
}

#champ_formulaire input {
	width: 142px;
}

#credit {
	position: absolute;
	top: 400px;
	width: 600px;
}

#credit p {
	font-family: verdana;
	font-size: 12px;
	color: #666666;
	margin-left: 15px;
}
/*************** Fin des styles de la page de login ****************/


/*************** Fin ajout intégration maquette Lodel **************/
.texte {
	font-size: small;
	font-weight: small;
	text-align : justify;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.fase4_rdf {
	font-size: x-small;
	font-weight: small;
	text-align : justify;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.texte_petit {
	font-size: x-small;
	font-weight: small;
	text-align : justify;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.texte_trespetit {
	font-size: xx-small;
	font-weight: small;
	text-align : justify;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.texte_centre {
	font-size: small;
	font-weight: small;
	text-align : center;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.texte_petit_centre {
	font-size: x-small;
	font-weight: small;
	text-align : center;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.texte_trespetit_centre {
	font-size: xx-small;
	font-weight: small;
	text-align : center;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.texte_sommaire {
	font-size: small;
	font-weight: small;
	text-align : left;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.navigation {
	font-size: x-small;
	font-weight: small;
	text-align : center;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.barretitre {
	font-size: x-small;
	font-weight: small;
	text-align : left;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.citation {
	font-size: small;
	text-align : justify;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
	padding-left : 50px;
	padding-right : 50px;
}


.notes {
	font-size: xx-small;
	font-weight: small;
	text-align : justify;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}

.appeldenote {
	font-size: xx-small;
	font-weight: small;
	text-align : justify;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
}


A:link, A:visited, A:active {
	text-decoration: none;
	color: Blue;
	font-style : normal;
}

A:hover {
	color: Red;
}

.resume
{
	font-style : italic;
	font-family : "Verdana, Helvetica, sans-serif, Times New Roman"font-size : x-small;
	color : #454545;
	text-align : justify;
}

.titre
{
	font-family : "Verdana, Helvetica, sans-serif, Times New Roman";
	font-size : large;
	color : black;
	text-align : center;
	font-weight : bold;
	font-variant : small-caps;
	font-style : normal;
}

.titrerevue
{
	font-family : "Verdana, Helvetica, sans-serif, Times New Roman";
	font-size : large;
	color : Navy;
	text-align : center;
	font-weight : bold;
	font-style : normal;
}

.soustitre
{
	font-family : "Verdana, Helvetica, sans-serif, Times New Roman";
	font-size : medium;
	color : black;
	text-align : center;
}

.soustitrerevue
{
	font-family : "Verdana, Helvetica, sans-serif, Times New Roman";
	font-size : medium;
	color : Navy;
	text-align : center;
}

.partie
{
	font-family : "Verdana, Helvetica, sans-serif, Times New Roman";
	font-size : medium;
	color : navy;
	text-align : center;
}

.auteur
{
	font-family : "Verdana, Helvetica, sans-serif, Times New Roman";
	font-size : small;
	color : Navy;
	text-align : center;
	font-weight : bold;
}

.directeur
{
	font-family : "Verdana, Helvetica, sans-serif, Times New Roman";
	font-size : small;
	color : Navy;
	text-align : center;
	font-weight : bold;
}

.tableau {
	font-size: x-small;
	font-weight: normal;
	text-align : justify;
}

	H1 {
	font-size: large;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
	text-align: justify;
}
	H2 {
	font-size: medium;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman;
	";
	padding-left : 50px;
	text-align: left
}
	H3 {
	font-size: small;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman";
	text-align: center;
	padding-left : 150px;
	color: #00000
}
	H4 {font-size: 12pt; font-family: "Verdana, Helvetica, sans-serif, Times New Roman;"; text-align: left; color: #000000; line-height: 0.8; margin-bottom: 0px; margin-top: 10px; padding-top: 0px;padding-bottom: 0px}
	H5 {font-size: 10pt; font-family: "Verdana, Helvetica, sans-serif, Times New Roman;"; text-align: left; color: #000000; line-height: 1; margin-bottom: 0px; margin-top: 0px; padding-top: 0px;padding-bottom: 0px}
	H6 {
	font-size: 10pt;
	font-family: "Verdana, Helvetica, sans-serif, Times New Roman;";
	text-align: left;
	color: Black;
}
	H7 {font-size: 28pt; font-family: "Verdana, Helvetica, sans-serif, Times New Roman;"; text-align: center; color: #00000; line-height: 1; margin-bottom: 0px; margin-top: 0px; padding-top: 0px;padding-bottom: 0px}

