p
{
	/*  
	 * Redéfinit les marges au dessus et en dessous des paragraphes formatés 
	 * avec la balise <p>
	 */
	margin-bottom : 3;
	margin-top : 3;
}
 
sup
{
	/*
	 * Redéfinit la taille et la position d'un texte placé en exposant avec
	 * la balise <sup>
	 */
	font-size: small;
	font-weight: small;
	vertical-align : 10%;
}

.couleur_1
{
	/*  
	 * Couleur dominante n°1
	 */
	color : #9C3234;
}

.couleur_2
{
	/*  
	 * Couleur dominante n°2
	 */
	color : #9DD4B7;
}

.couleur_3
{
	/*  
	 * Couleur dominante n°3
	 */
	color : Navy;
}

.filet_1
{
	/*  
	 * Largeur du filet <hr> n°1
	 */
	width: 30%;
}

.filet_2
{
	/*  
	 * Largeur du filet <hr> n°2
	 */
	width: 60%;
}

.filet_3
{
	/*  
	 * Largeur du filet <hr> n°3
	 */
	width: 100%;
}

.texte
{
	/*  
	 *
	 */
	font-size: xx-small;
	font-weight: small;
	text-align : justify;
	font-family: "Times New Roman, Arial, Verdana, Helvetica, sans-serif";
	line-height: 100%;
	text-indent : 20;
}

.texte_petit
{
	/*  
	 *
	 */
	font-size: xx-small;
	font-weight: small;
	text-align : justify;
	font-family: "Times New Roman, Arial, Verdana, Helvetica, sans-serif";
}

.texte_trespetit
{
	/*  
	 *
	 */
	font-size: xx-small;
	font-weight: small;
	text-align : justify;
	font-family: "Arial, Verdana, Helvetica, sans-serif, Times New Roman";
}

.texte_trespetit_navigation
{
	/*  
	 *
	 */
	font-size: xx-small;
	font-weight: small;
	text-align : left;
	font-family: "Arial, Verdana, Helvetica, sans-serif, Times New Roman";
}

.texte_trespetit_centre_navigation
{
	/*  
	 *
	 */
	font-size: xx-small;
	font-weight: small;
	text-align : center;
	font-family: "Arial, Verdana, Helvetica, sans-serif, Times New Roman";
}

.texte_centre
{
	/*  
	 *
	 */
	font-size: small;
	font-weight: small;
	text-align : center;
	font-family: "Arial, Verdana, Helvetica, sans-serif, Times New Roman";
}

.texte_petit_centre
{
	/*  
	 *
	 */
	font-size: x-small;
	font-weight: small;
	text-align : center;
	font-family: "Arial, Verdana, Helvetica, sans-serif, Times New Roman";
}

.texte_trespetit_centre
{
	/*  
	 *
	 */
	font-size: xx-small;
	font-weight: small;
	text-align : center;
	font-family: "Arial, Verdana, Helvetica, sans-serif, Times New Roman";
}

.texte_sommaire
{
	/*  
	 *
	 */
	font-size: x-small;
	font-weight: normal;
	text-align : left;
	font-family: "Times New Roman, Arial, Verdana, Helvetica, sans-serif";
}

.texte_sommaire_petit
{
	/*  
	 *
	 */
	font-size: xx-small;
	font-weight: small;
	text-align : left;
	font-family: "Times New Roman, Arial, Verdana, Helvetica, sans-serif";
}

.texte_presentation
{
	/*  
	 *
	 */
	font-size: small;
	font-weight: small;
	text-align : justify;
	font-family: "Times New Roman, Arial, Verdana, Helvetica, sans-serif";
	line-height: 120%;
	text-indent : 0;
}

.titrerevue
{
	/*  
	 *
	 */
	font-size: large;
	font-family: Times New Roman, Arial, Verdana, Helvetica, sans-serif; 
	font-weight : bold;
	text-align: left; 
	text-indent: 10;
	color: #9C3234;
	line-height: 150%;
}



.soustitrerevue
{
	/*  
	 *
	 */
	font-family : "Arial, Verdana, Helvetica, sans-serif, Times New Roman";
	font-size : small;
	color : black;
	text-align : center;
}

.directeur
{
	/*  
	 *
	 */
	font-family : "Arial, Verdana, Helvetica, sans-serif, Times New Roman";
	font-size : small;
	color : black;
	text-align : center;
	font-weight : bold;
}

.navigation
{
	/*  
	 *
	 */
	font-size: x-small;
	font-weight: small;
	text-align : center;
	font-family: "Arial, Verdana, Helvetica, sans-serif, Times New Roman";
}

.barretitre
{
	/*  
	 *
	 */
	font-size: x-small;
	font-weight: small;
	text-align : left;
	font-family: "Arial, Verdana, Helvetica, sans-serif, Times New Roman";
}

.citation
{
	/*  
	 *
	 */
	font-size: x-small;
	text-align : justify;
	text-indent : 0;
	margin-left : 20;
	font-family: "Times New Roman, Arial, Verdana, Helvetica, sans-serif";
		
}

.discret, A.discret:link, A.discret:hover, A.discret:visited, A.discret:active
{
	/*  
	 *
	 */
	font-size: xx-small;
	color : #AAAAAA;
	font-family: "Arial, Verdana, Helvetica, sans-serif, Times New Roman";
}


	/*  Style attribué au texte introduisant le moteur de recherche interne.
 	 *
 	 */

.chercher {
	font-size: 10 pt;
	font-weight: bold;
	color: #9C3234;
	font-family: arial, helvetica, sans-serif;
	margin: 20px 0px 20px 10px;

.bibliographie
{
	/*  
	 *
	 */
	font-size: x-small;
	font-weight: small;
	text-align : justify;
	line-height: 100%;
	text-indent : 0;
	font-family: "Times New Roman, Arial, Verdana, Helvetica, sans-serif";
}

.notes
{
	/*  
	 *
	 */
	font-size: x-small;
	font-weight: small;
	line-height: 90%;
	text-align : justify;
	font-family: "Times New Roman, Arial, Verdana, Helvetica, sans-serif";
}

.appeldenote
{
	/*  
	 *
	 */
	font-size: xx-small;
	font-weight: small;
	font-family: "Times New Roman, Arial, Verdana, Helvetica, sans-serif";
}



/*  Les liens Hypertexte
 *  hover: quand le curseur survole le lien
 *  link: lien non-visité
 *  visited: lien visité
 *  active: lien activé
 *	On peut faire des styles de liens. Pour les appliquer aux différents liens, il suffit 
 *	placer un class dans la balise <a href>:
 *  exemple:  <a class="style1" href....> On aura défini avant pour ce style tous les 
 *  états du lien (active, hover...).
 */

 
 /*	style des liens par défaut
  */
 
 A {
	font-size: x-small;
	font-weight: small;
	text-decoration:none;
	color: #9C3234;
	font-family: arial, helvetica, sans-serif;
}

A:hover {
	font-size: x-small;
	font-weight: small;
	text-decoration:none;
	color: #666666;
	font-family: arial, helvetica, sans-serif;
}

A:active {
	font-size: x-small;
	font-weight: small;
	text-decoration:none;
	color: #666666;
	font-family: arial, helvetica, sans-serif;
}

 /*	style des liens pointant vers les auteurs
  */ 
 
A.auteur {
	font-size: 10 pt;
	text-decoration:none;
	font-weight: bold;
	color: #9C3234;
	font-family: arial, helvetica, sans-serif;
}


A.auteur:hover {
	font-size: 10 pt;
	text-decoration:none;
	font-weight: bold;
	color: #666666;
	font-family: arial, helvetica, sans-serif;
}

A.auteur:active {
	font-size: 10 pt;
	text-decoration:none;
	font-weight: bold;
	color: #666666;
	font-family: arial, helvetica, sans-serif;
}

 /*	style des liens des menus de la barre de navigation
  */

A.menu1 {
	font-size: 9 pt;
	text-decoration:none;
	font-weight: bold;
	color: #9C3234;
	font-family: arial, helvetica, sans-serif;
} 

A.menu1:hover {
 	font-size: 9 pt;
	text-decoration:none;
	font-weight: bold;
	color: #333333;
	font-family: arial, helvetica, sans-serif;
} 
A.menu1:active {
	font-size: 9 pt;
	text-decoration:none;
	font-weight: bold;
	color: #333333;
	font-family: arial, helvetica, sans-serif;
} 

A.menu2 {
	font-size: 9 pt;
	text-decoration:none;
	font-weight: bold;
	color: #666666;
	font-family: arial, helvetica, sans-serif;
} 

A.menu2:hover {
 	font-size: 9 pt;
	text-decoration:none;
	font-weight: bold;
	color: #333333;
	font-family: arial, helvetica, sans-serif;
} 

A.menu2:active {
	font-size: 9 pt;
	text-decoration:none;
	font-weight: bold;
	color: #333333;
	font-family: arial, helvetica, sans-serif;
} 

 /*	style des liens 
  */

A.petittexte {
	font-size: xx-small;
	font-weight: small;
	text-decoration:none;
	color: #9C3234;
	font-family: arial, helvetica, sans-serif;
}

A.petittexte:hover {
	font-size: xx-small;
	font-weight: small;
	text-decoration:none;
	color: #666666;
	font-family: arial, helvetica, sans-serif;
}

A.petittexte:active {
	font-size: xx-small;
	font-weight: small;
	text-decoration:none;
	color: #666666;
	font-family: arial, helvetica, sans-serif;
}

 /*	style des liens des titre2
  */

A.titre2 {
	font-size: 10 pt;
	font-weight: bold;
	color: #cccccc;
	font-family: arial, helvetica, sans-serif;
	text-indent : 10;
}

A.titre2:hover {
	font-size: x-small;
	font-weight: small;
	text-decoration:none;
	color: #ffffff;
	font-family: arial, helvetica, sans-serif;
}
A.titre2:active {
	font-size: x-small;
	font-weight: small;
	text-decoration:none;
	color: #ffffff;
	font-family: arial, helvetica, sans-serif;
}



.resume
{
	/*  
	 *
	 */
	font-size: x-small;
	color : #000000;
	text-align : justify;
	font-family : "Arial, Verdana, Helvetica, sans-serif, Times New Roman";
}

.titre
{
	/*  
	 *
	 */
	font-family : "Times New Roman, Arial, Verdana, Helvetica, sans-serif";
	font-size : medium;
	color : black;
	text-align : right;
	font-weight : medium;
	font-style : normal;
}

.soustitre
{
	/*  
	 *
	 */
	font-family : "Times New Roman, Arial, Verdana, Helvetica, sans-serif";
	font-size : small;
	color : black;
	text-align : right;
	font-style : normal;
}


.regroupement
{
	/*  
	 *
	 */
	font-family : "Arial, Verdana, Helvetica, sans-serif, Times New Roman";
	font-size : small;
	color : black;
	text-align : left;
}

.auteur
{
	/*  
	 *
	 */
	text-align : right;
	font-family : "Times New Roman, Arial, Verdana, Helvetica, sans-serif";
	font-size : small;
	color : 1;
	text-align : right;
	font-weight : medium;
}

.auteur_sommaire
{
	/*  
	 *
	 */
	text-align : left;
	font-family : "Times New Roman, Arial, Verdana, Helvetica, sans-serif";
	font-size : x-small;
	color : 1;
	font-variant : small-caps;
}

.auteur_recension
{
	/*  
	 *
	 */
	text-align : right;
	font-family : "Times New Roman, Arial, Verdana, Helvetica, sans-serif";
	font-size : x-small;
	color : 1;
	text-align : right;
	font-variant : small-caps;
}

.auteur_indexarticles
{
	/*  
	 *
	 */
	text-align: center;
	font-variant : small-caps;
	font-weight: normal;
	font-size: x-small;
	font-family: "Times New Roman, Arial, Verdana, Helvetica, sans-serif";
}
	
.integral
{
	/*  
	 *
	 */
	font-size: xx-small;
	color : Grey;
	font-weight: light;
	text-align : right;
}

.indexlettrine
{
	/*  
	 *
	 */
	font-family : "Times New Roman, Arial, Verdana, Helvetica, sans-serif";
	font-size : small;
	color : black;
	font-weight : bold;
	text-align : left;
}

.indextexte
{
	/*  
	 *
	 */
	font-family : "Times New Roman, Arial, Verdana, Helvetica, sans-serif";
	font-size : x-small;
	color : black;
	font-weight : light;
	text-align : left;
}

body
{
	/*  Définit la couleur d'arrière plan du corps du document HTML ainsi que ses marges
	 *
	 */
	 background-color: #BFBFBF;
	 margin-left : 0;
	 margin-top : 0;
	 margin-bottom : 0;
	 margin-right : 0;
}

.titre2 {
	font-size: small;
	font-weight: bold;
	color: #ffffff;
	font-family: arial, helvetica, sans-serif;
	text-indent : 10;
}

.section1
{
	/*  définit les caractéristiques du titre de de niveau 1 : h1
	 *
	 */
	font-weight : large;
	font-size : medium;
	font-family: "Arial, Verdana, Helvetica, sans-serif, Times New Roman";
	text-align: left;
	text-indent : 0;
	line-height: 100%;
}



h2
{
	/*  
	 *
	 */
	font-weight : normal;
	font-size: small;
	font-family: "Arial, Verdana, Helvetica, sans-serif, Times New Roman";
	text-align: left;
	text-indent : 0;
}

h3
{
	/*  
	 *
	 */
	font-size: x-small;
	font-family: "Arial, Verdana, Helvetica, sans-serif, Times New Roman";
	text-align: left;
	color: #00000
}

h4
{
	/*  
	 *
	 */
	font-size: x-small;
	font-family: "Arial, Verdana, Helvetica, sans-serif, Times New Roman;";
	text-align: left;
	color: #000000;
}

h5
{
	/*  
	 *
	 */
	font-size: 10pt;
	font-family: "Arial, Verdana, Helvetica, sans-serif, Times New Roman;";
	text-align: left;
	color: #000000;
	line-height: 1;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
	
h6
{
	/*  
	 *
	 */
	font-size: small;
	font-family: "Times New Roman, Arial, Verdana, Helvetica, sans-serif";
	font-variant : small-caps;
	font-style : normal;
	text-align: center;
	text-indent : 0;
	color: Black;
}

h7
{
	/*  
	 *
	 */
	font-size: large;
	font-family: "Times New Roman, Arial, Verdana, Helvetica, sans-serif;"; 
	font-weight : bold;
	text-align: center; 
	color: #ff0000;
	line-height: 150%;
}


	/*Styles des menus dans la barre de navigation
	 */

.menu1 {
	font-size: small;
	font-weight: bold;
	color: #9C3234;
	font-family: arial, helvetica, sans-serif;
	
	
	
} 
.menu2 {
	font-size: small;
	font-weight: bold;
	color: #000000;
	font-family: arial, helvetica, sans-serif;
	text-align: right;
} 

	/* Style du formulaire de recherche
	 */

.chercher {
	font-size: 10 pt;
	font-weight: bold;
	color: #9C3234;
	font-family: arial, helvetica, sans-serif;
	margin-left: 2em;
}