/*********************************************************************************************
 *  Feuille de style des versions imprimable                                                                      * 
 *  Mai 2003                                                                                 *
 *********************************************************************************************
 */


/*********************************************************************************************
 *  Les différentes class liées aux éléments de structure des pages.                         * 
 *	 - .corps                                                                                *
 *	 - .separation                                                                           *
 *	 - .contenu                                                                              *
 *********************************************************************************************
 */
 
  html>body {
	height:100%
}
 
 body
{
	/*  Définit la couleur d'arrière plan du corps du document HTML ainsi que ses marges
	 *
	 */
	 background-color:#ffffff;
	 margin-left :0;
	 margin-top :0;
	 margin-bottom :0;
	 margin-right :0;
	 padding:0;
	 font-size:8px;
	 font-family:Arial, Times New Roman,  Verdana, Helvetica, sans-serif;
	 text-decoration:none;
	 text-align:center
	
	}
	
 .principale {
 	width:775;
	margin-right:auto;
	margin-left:auto;
	height:100%;
	}
		
table {
	/*  
	 * Elements de styles d'une table par défaut 
	 */
	border:0; 
	cellspacing:0; 
	cellpadding:0; 
	
}

p {
	/*  
	 * Redéfinit les marges au dessus et en dessous des paragraphes formatés 
	 * avec la balise <p>
	 */
	margin-bottom :3;
	margin-top :3;
}
 
sup {
	/*
	 * Redéfinit la taille et la position d'un texte placé en exposant avec
	 * la balise <sup>
	 */
	font-size:small;
	font-weight:small;
	vertical-align :10%;
}

/*********************************************************************************************
 *  Les liens Hypertexte                                                                     * 
 *                                                                                           *
 *  hover:quand le curseur survole le lien                                                  * 
 *  link:lien non-visité                                                                    *
 *  visited:lien visité                                                                     *
 *  active:lien activé                                                                      *
 *	On peut faire des styles de liens. Pour les appliquer aux différents liens, il suffit    *
 *	placer un class dans la balise <a href>:                                                *
 *  exemple: <a class="style1" href....> On aura défini avant pour ce style tous les        * 
 *  états du lien (active, hover...).                                                        *
 *********************************************************************************************
 */

 
 /********************************************************************************************
  *	style des liens par défaut                                                               *
  ********************************************************************************************
  */
  
A {
   	/*  
	 *	Styles des liens non visités et visités
	 */
	color:#9C3234;
	text-decoration:none;
}

A:hover {
	/*  
	 *	Styles des liens survolés
	 */
	
	color:#666666;
}

A:active {
	/*  
	 *	Style des liens actifs
	 */
	
	color:#666666;
	
}

 /********************************************************************************************
 *  Les  class liées aux titres (dans la présentation du document)                                                             * 
 *********************************************************************************************
 */
 	/* Style .titre1  
	 * Si on veut changer la couleur de la police, il faut aussi changer cette couleur pour les éléments de
	 * A 
	 */
.titre1 {
	 width:auto;
	 background-color:#ffffff;
	 font-size:140%;
	 font-weight:300;
	 text-align:left; 
	 color:#9C3234;
	 line-height:120%;
	 margin-bottom:15px;
}

A.titre1 {
	/*  
	 *	Styles des liens non visités et visités des liens des éléments de classe "titre1"
	 */
	color:#9C3234;
	text-decoration:none;
	border:0;
}

A.titre1:hover {
	/*  
	 *	Styles des liens survolés des liens des éléments de classe "titre1"
	 */
	color:#666666;
	border:0;
	
}

A.titre1:active {
	/*  
	 *	Style des liens actifs des liens des éléments de classe "titre1"
	 */
	color:#666666;
	border:0;
	
}

/*************************************************************************/

	/* Style .titre2  
	 * Si on veut changer la couleur de la police, il faut aussi changer cette couleur pour les éléments de
	 * A 
	 */
.titre2 {
	 width:auto;
	 height:20;
	 background-color:#9C3234;
	 font-size:110%;
	 font-weight :bold;
	 text-align:left; 
	 color:#ffffff;
	 margin-bottom:7px;
	 margin-top:15px;
	 vertical-align:middle;
}

A.titre2 {
	/*  
	 *	Styles des liens non visités et visités
	 */
	font-weight:bold;
	color:#cccccc;
	text-indent:0;
	margin:0;
	vertical-align:middle;

}

A.titre2:hover {
	/*  
	 *	Styles des liens survolés
	 */
	font-weight:small;
	color:#ffffff;
	text-indent:0;
	margin:0;
	
}
A.titre2:active {
	/*  
	 *	Style des liens actifs
	 */
	font-weight:small;
	color:#ffffff;
	text-indent:0;
	margin:0;
}


/***************************************************************************/
	
.titre3 {
	/*  
	 * Style .titre3 
	 */
	width:auto;
	height:20;
	background-color:#ffffff;
	font-size:100%;
	font-weight:bold;
	color:#9C3234;
	text-indent :10;
	padding:10px;
	margin-top:20px;
	border-bottom:1px solid
}

/*****************************************************************************
 *	style des liens pointant vers les auteurs                                *
 *****************************************************************************
 */ 
 
A.auteur {
	/*  
	 *	Styles des liens non visités 
	 */
	text-decoration:none;
	font-weight:550;
	color:#9C3234;
	
}

A.auteur:visited {
	/*  
	 *	Styles des liens  visités
	 */
	color:#9C3234;
	}

A.auteur:hover , A.auteur:active {
	/*  
	 *	Styles des liens survolés et actifs
	 */
	color:#666666;
	
}

/********************************************************************************************/

.soustitrerevue
{
	/*  
	 * Style du soustitre de la publication dans les sommaires
	 */
	
	font-size :90%;
	font-weight:normal;
	font-style:italic;
}
 
 
.directeur_publication {
	/*  
	 * Style utilisé pour le directeur de la publication
	 */
	padding-left:20px;
	font-size:75%;
}



/***************************************************************************************
 *	Styles concernant le texte proprement dit                                          *
 ***************************************************************************************
 */
 
 
.resume
{
	/*  
	 * Style utilisé pour les résumés
	 */
	width:auto;
	height:auto;
	color :#000000;
	text-align :justify;
	font-size:90%;
	padding-left:2em;
	padding-right:2em;
	padding-top:2em;
	padding-bottom:2em;
		
}

.texte
{
	/*  
	 * Texte intégral
	 */
	width:auto;
	height:auto;
	font-weight:small;
	text-align :justify;
	line-height:120%;
	text-indent :20;
	padding:20px;
	margin:0;
}

.notes
{
	/*  
	 * Style permettant d'afficher le texte des notes ainsi que des errata, NDLR et historique
	 */
	width:auto;
	height:auto;
	font-size:90%;
	font-weight:small;
	line-height:120%;
	text-align :justify;
	padding-top:2em;
	padding-bottom:2em;
	padding-right:2em;
	padding-left:2em;
}


.descriptionauteur {
   /*  
    *	Style de la description de l'auteur appelée dans le document 
	*/
	width:auto;
	height:auto; 
	text-align :justify;
	line-height:120%;
	text-indent :20;
	padding-left:2em;
	padding-right:2em;
	padding-bottom:2em;
}

.citation
{
	/*  
	 * Style des citations
	 */
	font-size:90%;
	text-align:justify;
	text-indent:0;
	margin-left:20;
}

/********************************************************************************************
  *	Les différents niveaux de titre                                                             *
  ********************************************************************************************
  */

h1
{
	/*  définit les caractéristiques du titre de de niveau 1 :h1
	 *
	 */
	font-weight :large;
	font-size :140%;
	text-align:left;
	text-indent :0;
	line-height:100%;
}

h2
{
	/*  
	 *	définit les caractéristiques du titre de de niveau 2 :h2
	 */
	font-weight :normal;
	font-size:130%;
	text-align:left;
	text-indent :0;
}

h3
{
	/*  
	 *	définit les caractéristiques du titre de de niveau 3 :h3
	 */
	font-size:120%;
	text-align:left;
	color:#00000
}

h4
{
	/*  
	 *	définit les caractéristiques du titre de de niveau 4 :h4
	 */
	font-size:110%;
	text-align:left;
	color:#000000;
}

h5
{
	/*  
	 *	définit les caractéristiques du titre de de niveau 5 :h5
	 */
	font-size:100%;
	text-align:left;
	color:#000000;
	line-height:1;
	margin-bottom:0px;
	margin-top:0px;
	padding-top:0px;
	padding-bottom:0px;
}
	
h6
{
	/*  
	 *	définit les caractéristiques du titre de de niveau 6 :h6
	 */
	font-size:90%;
	font-variant :small-caps;
	font-style :normal;
	text-align:center;
	text-indent :0;
	color:Black;
}

.section1
{
	/*  définit les caractéristiques du titre de niveau 1 :section1	
	 */
	width:auto;
	font-weight :bold;
	font-size :140%;
	margin-left:5px;
	margin-bottom:25px;
	margin-top:25px
}


.section2
{
	/*  
	 *	définit les caractéristiques du titre de niveau 2 :section2	
	 */
	width:auto;
	height:auto;
	font-weight :bold;
	font-size:130%;
	margin-left:10px;
	margin-bottom:20px;
	margin-top:20px
}

.section3
{
	/*  
	 *	définit les caractéristiques du titre de niveau 3 :section3	
	 */
	width:auto;
	height:auto;
	font-size:120%;
	font-weight :bold;
	color:#00000;
	margin-left:15px;
	margin-bottom:15px;
	margin-top:15px
}

.section4
{
	/*  
	 *	définit les caractéristiques du titre de niveau 4 :section4	
	 */
	width:auto;
	height:auto;
	font-size:110%;
	font-weight:bold;
	margin-left:20px;
	margin-bottom:10px;
	margin-top:10px;
	color:#000000
}

.section5
{
	/*  
	 *	définit les caractéristiques du titre de niveau 5 :section5	
	 */
	width:auto;
	height:auto;
	font-size:100%;
	font-weight:bold;
	color:#000000;
	margin-left:25px;
	margin-bottom:5px;
	margin-top:5px
}
	
.section6
{
	/*  
	 *	définit les caractéristiques du titre de niveau 6 :section6	
	 */
	width:auto;
	height:auto;
	font-size:90%;
	font-weight:bold;
	color:#000000;
	margin-left:30px
}


/***************************************************************************************
 *	Styles  "ponctuels"                                                                *
 ****************************************************************************************
 */
	
.smallcaps {
	font-variant:small-caps;
}

.pluspetit {
	/*  
	 * Diminue la taille de la police héritée  de 10%
	 */
	font-size:80%;
}

.plusgrand {
	/*  
	 * Diminue la taille de la police héritée  de 10%
	 */
	 font-size:110%;
	  font-weight:bold;
}

.bold   {
	/*
	 * Met en gras l'élément voulu.
     */
	 font-weight:bold;
}


/***************************************************************************************
 *	Styles admin                                                                        *
 ****************************************************************************************
 */
	 
A.bouton_statut_publierOFF
{
	/*  
	 * Style des boutons qui servent à modifier le statut d'une publication. 
	 */
	color:#181B90;
	font-size:xx-small;
		
}


.bouton_statut_publierON
{
	/*  
	 * Style des boutons qui servent à modifier le statut d'une publication. 
	 */
	color:#B20404;
	font-size:xx-small;
	
}


//***************************************************************************************
 *	Styles propres aux filets <hr>                                                      *
 ****************************************************************************************
 */


.filet_1
{
	/*  
	 * Largeur du filet <hr> n°1
	 */
	width:30%;
}

.filet_2
{
	/*  
	 * Largeur du filet <hr> n°2
	 */
	width:60%;
}

.filet_3
{
	/*  
	 * Largeur du filet <hr> n°3
	 */
	width:100%;
	color:#9C3234;
}


/***************************************************************************************
 *	Styles propres à la barre Lodel                                                    *
 ****************************************************************************************
 */

.texte_lodelbarre {
	font-size:small;
	font-weight:small;
	text-align :justify;
	font-family:"Verdana, Helvetica, sans-serif, Times New Roman";
}

.texte_petit_lodelbarre {
	font-size:x-small;
	font-weight:small;
	text-align :justify;
	font-family:"Verdana, Helvetica, sans-serif, Times New Roman";
}





















