/*********************************************************************************************
 *  Feuille de style pour Lodelia                                                                        * 
 * 	Juin 2003            
 * 
                                      
 *********************************************************************************************
 */

 
 /*********************************************************************************************
 *  Structure commune à toutes les pages:
 *		<body>
 *			<table class="principale">
 *				<div class="conteneur>
 *					<div class="barrenav>
 * 					</div>
 *					<div class="corps>
 *						<div class="separation>
 *						</div>
 *						<div class="contenu>
 *						</div>	
 *                  </div>	
 *				</div>	
 *			</table>
 *		</body> 							
 *********************************************************************************************/
  
  html>body {
	height:100%
}
	
 body
{
	/*  Définit la couleur d'arrière plan du corps du document HTML ainsi que ses marges
	 *
	 */
	 background-color:#BFBFBF;
	 margin:0;
	 padding:0;
	 font-size:8px;
	 font-family:Arial, Helvetica, sans-serif, Times New Roman,  Verdana ;
	 text-decoration:none;
	 font-weight:normal;
	 text-indent:0;
	 text-align:center
	}
 
 .principale {
 	width:775;
	cellspacing:0;
	cellpadding:0;
	margin-right:auto;
	margin-left:auto;
	height:100%;
	text-align:left;
	border-left:1px solid #9C3234;
	border-right:1px solid #9C3234;
	border-top:0;
	border-bottom:0;
	border-collapse:collapse ;
    border-spacing:0;
	margin-bottom:0;
	margin-top:0;
	vertical-align:top
 }
 			
.barrenav {
	/*
	 * Style de la barre de navigation, elle est placée à gauche de l'élément de class "corps"
	 * grâce à l'attribut "float"
	 * 
	 */
	vertical-align:top;
	cellspacing:0;
	cellpadding:0;
	width:167;
	height:100%; 
	background-color:#EFEFEF;
	border-right:1px solid #9C3234;
	margin:0;
	left:0;
	padding:0;
	
}

.corps {
	/*
	 * Style du bloc placé à droite de la barre de navigation
	 */
	width:auto;
	cellspacing:0;
	cellpadding:0;
	height:100%;
	border:0; 
	background-color:#ffffff;
	right:0
	
}
.separation {
	/*
	 * Style du bloc marquant une séparation entre la barre de nav et le reste de la page.
	 * Ce bloc est contenu dans le bloc de class "corps", il se situe à gauche du bloc de class
	 * "contenu"
	 */
	background-color:#EFEFEF;
	width:13;
	height:100%;
	border-right:17px solid #ffffff;
	border-left:8px solid #ffffff;
	float:left;
	margin:0;
	
}

.contenu {
	/*
	 * Style du bloc pacé à droite du bloc séparation, il est aussi contenu dans la vloc corps.
	 */
	width:auto;
	height:100%;
	margin:0;
	right:0;
	
}		
 
 
 /*********************************************************************************************
 *  Définition par défaut des élements de structure                                           * 
  *********************************************************************************************
 */
 
table {
	/*  
	 * Elements de styles d'une table par défaut 
	 */
	cellspacing:0; 
	cellpadding:0
}

td {
	/*  
	 * Elements de styles d'une table par défaut 
	 */
	border:0
}

tr {
	/*  
	 * Elements de styles d'une table par défaut 
	 */
	border:0	
}


p {
	/*  
	 * Redéfinit les marges au dessus et en dessous des paragraphes formatés 
	 * avec la balise <p>
	 */
	margin-bottom:2px;
	margin-top:2px
}
 


ul {
	/*
	 * Définit style des listes à puce par défaut
	 */
	font-size:100%;
}	



/*********************************************************************************************
 *  Les liens Hypertexte                                                                     * 
 *                                                                                           *
 *  hover:quand le curseur survole le lien                                                  * 
 *  link:lien non-visité                                                                    *
 *  visited:lien visité                                                                     *
 *  active:lien activé                                                                      *
 *	On peut faire des styles de liens. Pour les appliquer aux différents liens, il suffit    *
 *	placer un class dans la balise <a href>:                                                *
 *  exemple: <a class="style1" href....> On aura défini avant pour ce style tous les        * 
 *  états du lien (active, hover...).                                                        *
 *********************************************************************************************
 */

 
 /********************************************************************************************
  *	style des liens par défaut                                                               *
  ********************************************************************************************
  */
  
A {
   	/*  
	 *	Styles des liens non visités et visités
	 */
	color:#9C3234;
	text-decoration:none
}

A:hover {
	/*  
	 *	Styles des liens survolés
	 */
	
	color:#666666
}

A:active {
	/*  
	 *	Style des liens actifs
	 */
	
	color:#666666
}

 /********************************************************************************************
 *  Les différents niveaux de titre er de présentation communs à toutes les pages            * 
 *********************************************************************************************
 */
 	/* Style .titre1
	 * Bordeau sur fonds gris
	 * Si on veut changer la couleur de la police, il faut aussi changer cette couleur pour les éléments de
	 * A 
	 
	 */
	 
.titre1  {
	 width:auto;
	 height:auto;
	 background-color:#E0E0E0;
	 font-size:140%;
	 font-weight:bold;
	 text-align:left; 
	 color:#9C3234;
	 line-height:120%;
	 margin-bottom:15px;
	 padding-top:10px;
	 padding-bottom:10px;
	 padding-left:10px;
	 padding-right:10px;
	 text-decoration:none
}

A.titre1  {
	/*  
	 *	Styles des liens non visités et visités de class .titre1
	 */
	 font-size:100%;
	 padding:0;
	 text-decoration:none
}

A.titre1:hover {
	/*  
	 *	Styles des liens survolés des liens des éléments de classe "titre1"
	 */
	padding:0;
	color:#666666
}

A.titre1:active {
	/*  
	 *	Style des liens actifs des liens des éléments de classe "titre1"
	 */
	padding:0;
	color:#666666
}

/*************************************************************************/

	/* Style .titre2  
	 * ecriture blanche sur fonds bordeaux
	 * Si on veut changer la couleur de la police, il faut aussi changer cette couleur pour les éléments de
	 * A 
	 */
.titre2 {
	 width:auto;
	 height:auto;
	 background-color:#9C3234;
	 font-weight :bold;
	 text-align:left;
	 color:#ffffff;
	 margin-bottom:7px;
	 margin-top:15px;
	 vertical-align:middle;
	 padding-left:5px;
	 
}

A.titre2 {
	/*  
	 *	Styles des liens non visités et visités
	 */
	color:#cccccc;
	margin:0;
	vertical-align:middle
	
}

A.titre2:hover {
	/*  
	 *	Styles des liens survolés
	 */
	color:#ffffff;
	margin:0
	
}
A.titre2:active {
	/*  
	 *	Style des liens actifs
	 */
	color:#ffffff;
	margin:0
}

/***************************************************************************/
	
.titre3 {
	/*  
	 * Style .titre3 
	 */
	 
	width:auto;
	height:20;
	background-color:#EFEFEF;
	font-weight:bold;
	color:#9C3234;
	text-indent :10;
	margin-top:20px
}

/****************************************************************************/

.afficherdocument  {
	/* 
	 * Pour afficher les informations sur un document dans article.html, sommaire.html, les index...
	 */
	width:auto;
	background-color:#F7F7F7;
	color:#666666;
	margin-bottom:6px;
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px
	
}

/*****************************************************************************/

.article {
	/* 
	 *  Style correspondant à l'affichage du titre et du sous-titre d'un document cité 
	 */
	font-size:80%;
	text-align:justify;
	line-height:150%;
		
}

/*****************************************************************************/

.introduction
{
	/*  Style appliqué à l'introduction d'un numéro
	 *
	 */
	font-size:80%;
	text-align :justify;
	color:#9C3234;
}

/*****************************************************************************/

.extrait
{
	/*  
	 * Style appliqué lorsqu'on affichage un extrait d'article dans index.html par exemple
	 */
	width:auto;
	height:auto;
	background-color:#F7F7F7;
	color:#333333;
	font-size:90%;
	text-align :justify;
	line-height:120%;
	text-indent :10;
	padding-right:10px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	margin:0;
}

/*****************************************************************************/

/*****************************************************************************
 *	Styles conçernant les auteurs                                            *
 *****************************************************************************
 */ 

.auteur {
	/*
	 *	style des auteurs
	 */
	 color:#9C3234
}
 
 
A.auteur {
	/*  
	 *	Styles des liens non visités 
	 */
	text-decoration:none;
	color:#9C3234
}

A.auteur:visited {
	/*  
	 *	Styles des liens  visités
	 */
	color:#9C3234
}

A.auteur:hover , A.auteur:active {
	/*  
	 *	Styles des liens survolés et actifs
	 */
	color:#666666
}
 
/*********************************************************************************************
 *  Les  styles spécifiques utilisés dans la page "sommaire.html"                                         * 
 *********************************************************************************************
 */

.directeur_publication {
	/*  
	 * Style utilisé pour le directeur de la publication
	 */
	padding-left:20px;
	font-size:75%;
}

/***************************************************************************/

.soustitrerevue
{
	/*  
	 * Style du soustitre de la publication dans les sommaires
	 */
	
	font-size :90%;
	font-weight:normal;
	font-style:italic
}

/****************************************************************************/

.docregroupement {
	/*
	 * Style pour les blocs affichant le titre et l'auteur du document.
	 */
	width:auto;
	height:auto;
	margin-top:10px;
}

/*  *****************************************************************************
 *	Styles des liens qui pointent vers les textes intégraux                 	*
 *	*****************************************************************************
 */

A.texte_integral {
	/*  
	 *	Styles des liens non visités et visités
	 */
	font-size:80%;
	text-align :justify;
	color:#666666;
}

A.texte_integral:hover {
	/*  
	 *	Styles des liens survolés
	 */
	font-size:80%;
	text-align :justify;
	color:#333333;
}

A.texte_integral:active {
	/*  
	 *	Style des liens actifs
	 */
	font-size:80%;
	text-align :justify;
	color:#333333;
}

/****************************************************************************************/

.numerolineaire {
	/*  
	 * Style qui s'applique aux titres des numéros dans 
	 * dans le sommaire linéaire
	 */
	height:auto;
	width:561;
	background-color:#ffffff;
	border:0;
	margin:0;
	padding:0
}

/****************************************************************************************/

.icone {
	/*  
	 * Style qui s'applique à l'icone affichée avec les titres des numéros dans 
	 * dans le sommaire linéaire
	 */
	height:auto;
	width:auto;
	background-color:#ffffff;
	border:0;
	margin:0;
	padding:0;
	float:left
}

/****************************************************************************************/

.numero {
	/*
	 *	
	 */
	height:auto;
	width:auto;
	border:0;
	margin:0;
	padding:0;
	background-color:#F7F7F7;
	text-decoration:none;
	color:#666666
	
}

/*********************************************************************************************
 *  Les  styles spécifiques utilisés dans la page "article.html"                             * 
 *********************************************************************************************
 */

 	/*
  	 *	Les différents niveaux de titre contenus à l'intérieur des textes                                                            *
     *
     */

h1
{
	/*  définit les caractéristiques du titre de niveau 1 :h1	
	 */
	font-weight :bold;
	font-size :140%;
	text-indent :0;
	line-height:100%
}


h2
{
	/*  
	 *définit les caractéristiques du titre de niveau 2 :h2	
	 */
	font-weight :bold;
	font-size:130%;
	text-align:left;
	text-indent :0
}

h3
{
	/*  
	 *	définit les caractéristiques du titre de niveau 3 :h3	
	 */
	font-size:120%;
	text-align:left;
	color:#00000
}

h4
{
	/*  
	 *	définit les caractéristiques du titre de niveau 4 :h4
	 */
	font-size:110%;
	text-align:left;
	color:#000000
}

h5
{
	/*  
	 * définit les caractéristiques du titre de niveau 5 :h5	
	 */
	font-size:100%;
	text-align:left;
	color:#000000;
	line-height:1;
	margin-bottom:0px;
	margin-top:0px;
	padding-top:0px;
	padding-bottom:0px
}
	
h6
{
	/*  
	 *	définit les caractéristiques du titre de niveau 6 :h6	
	 */
	font-size:90%;
	font-variant:small-caps;
	font-style:normal;
	text-align:center;
	text-indent:0;
}


.section1
{
	/*  définit les caractéristiques du titre de niveau 1 :section1	
	 */
	width:auto;
	font-weight :bold;
	font-size :140%;
	margin-left:5px;
	margin-bottom:25px;
	margin-top:25px
}


.section2
{
	/*  
	 *	définit les caractéristiques du titre de niveau 2 :section2	
	 */
	width:auto;
	height:auto;
	font-weight :bold;
	font-size:130%;
	margin-left:10px;
	margin-bottom:20px;
	margin-top:20px
}

.section3
{
	/*  
	 *	définit les caractéristiques du titre de niveau 3 :section3	
	 */
	width:auto;
	height:auto;
	font-size:120%;
	font-weight :bold;
	color:#00000;
	margin-left:15px;
	margin-bottom:15px;
	margin-top:15px
}

.section4
{
	/*  
	 *	définit les caractéristiques du titre de niveau 4 :section4	
	 */
	width:auto;
	height:auto;
	font-size:110%;
	font-weight:bold;
	margin-left:20px;
	margin-bottom:10px;
	margin-top:10px;
	color:#000000
}

.section5
{
	/*  
	 *	définit les caractéristiques du titre de niveau 5 :section5	
	 */
	width:auto;
	height:auto;
	font-size:100%;
	font-weight:bold;
	color:#000000;
	margin-left:25px;
	margin-bottom:5px;
	margin-top:5px
}
	
.section6
{
	/*  
	 *	définit les caractéristiques du titre de niveau 6 :section6	
	 */
	width:auto;
	height:auto;
	font-size:90%;
	font-weight:bold;
	color:#000000;
	margin-left:30px
}

/*
 *   Les styles concernant les TOC
 */


.toc_section1
{
	/*  définit les caractéristiques du titre de niveau 1 pour la toc 
	 */
	width:auto;
	font-weight :bold;
	margin-left:5px;
	margin-bottom:25px;
	margin-top:25px
}

.toc_section2
{
	/*  
	 *	définit les caractéristiques du titre de niveau 2 pour la toc 
	 */
	width:auto;
	height:auto;
	font-weight :bold;
	margin-left:10px;
	margin-bottom:20px;
	margin-top:20px
}

.toc_section3
{
	/*  
	 *	définit les caractéristiques du titre de niveau 3 pour la toc 
	 */
	width:auto;
	height:auto;
	font-weight :bold;
	color:#00000;
	margin-left:15px;
	margin-bottom:15px;
	margin-top:15px
}

.toc_section4
{
	/*  définit les caractéristiques du titre de niveau 1 pour la toc 
	 */
	width:auto;
	font-weight :normal;
	font-size :small;
	margin-left:20px;
	margin-bottom:10px;
	margin-top:10px
}

.toc_section5
{
	/*  
	 *	définit les caractéristiques du titre de niveau 2 pour la toc 
	 */
	width:auto;
	height:auto;
	font-weight :normal;
	margin-left:25px;
	margin-bottom:10px;
	margin-top:10px
}

.toc_section6
{
	/*  
	 *	définit les caractéristiques du titre de niveau 3 pour la toc 
	 */
	width:auto;
	height:auto;
	font-size:50%;
	font-weight :bold;
	color:#00000;
	margin-left:30px;
	margin-bottom:10px;
	margin-top:10px
}






/******************************************************************************************/


/*********************************************************************************************
 * NB :
 * Parfois, ces éléments sont présents dans la définition  des styles (à la fin):
 *  une première largeur est définie et une seconde est définie à la fin:
 *     	width:ZZZ  (= largeur qui sera interprétée par IE)
 *		voice-family:"\"}\"";
 *		voice-family:inherit;
 * 		width:XXX (= largeur qui sera interprétée par les autres navigateurs)		
 *		}						
 *
 *		html>body .YYY {
 *		 width:XXX (= largeur qui sera interprétée par les autres navigateurs)	
 *  	}             
 * ces éléments permetent de faire en sorte que le style soit correctment interprété par IE et
 * par les autres navigateurs   
 /************************************************************************************************/

.texte {

	/*  
	 * 
	 */
	height:auto;
	width:561;
	line-height:140%;
	font-size:90%;
	text-align :justify;
	text-indent :20;
	padding-left:2em;
	padding-right:2em;
	padding-top:2em;
	padding-bottom:2em;
	voice-family:"\"}\"";
 	voice-family:inherit;
  	width:561		
	}						

html>body .texte {
	 width:auto
}				




/***************************************************************************************/
 

.resume
{
	/*  
	 * Style utilisé pour les résumés
	 */
	width:561;
	height:auto;
	font-size:80%;
	color :#000000;
	text-align :justify;
	padding-left:2em;
	padding-right:2em;
	padding-top:2em;
	padding-bottom:2em;
	voice-family:"\"}\"";
 	voice-family:inherit;
  	width:561		
	}						

html>body .resume {
	 width:auto
}

/***************************************************************************************/

.bibliographie
{
	/*  
	 * Style utilisé pour les bibliographies
	 */
	width:561;
	height:auto;
	font-size:90%;
	color :#000000;
	line-height:140%;
	text-align :justify;
	padding-right:2em;
	padding-top:2em;
	padding-bottom:2em;
	voice-family:"\"}\"";
 	voice-family:inherit;
  	width:561px		
	}						

html>body .bibliographie {
	 width:auto
}

/******************************************************************************************/

.notes
{
	/*  
	 * Style permettant d'afficher le texte des notes ainsi que des errata, NDLR et historique
	 */
	width:561;
	height:auto;
	font-size:80%;
	font-weight:small;
	text-align :justify;
	padding-top:2em;
	padding-bottom:2em;
	padding-right:2em;
	padding-left:2em;
	voice-family:"\"}\"";
 	voice-family:inherit;
  	width:561		
	}						

html>body .notes {
	 width:auto
}
	
**************************************************************
 
/*
 * Styles nécessaires pour les appels de notes
 */

small {
	font-size: x-small;
	font-weight: x-small;
	text-align:justify;
}

.fase4_rdf {
	font-size: x-small;
	font-weight: small;
	text-align : justify;
	
}

.appeldenote {
	font-size: xx-small;
	font-weight: small;
	text-align : justify;
	
}

/*****************************************************************************************/


.descriptionauteur {
   /*  
    *	Style de la description de l'auteur appelée dans le document 
	*/
	width:561;
	height:auto; 
	text-align :justify;
	line-height:120%;
	text-indent :20;
	padding-left:2em;
	padding-right:2em;
	padding-bottom:2em;
	voice-family:"\"}\"";
 	voice-family:inherit;
  	width:561	
	}						

html>body .descriptionauteur {
 	 width:auto
}

/*****************************************************************************************/

.citation
{
	/*  
	 * Style des citations
	 */
	font-size:90%;
	text-align:justify;
	text-indent:0;
	margin-left:20;
}

/*****************************************************************************************/

.pourciter {
	/*  
	 * Style des notices bibliographiques dans le document en cours
	 */
	width:561;
	height:auto;
	color :#000000;
	padding-left:2em;
	padding-right:2em;
	padding-top:2em;
	padding-bottom:2em;
	voice-family:"\"}\"";
 	voice-family:inherit;
  	width:561		
	}			

/*****************************************************************************************/


ul.puce {
	/*
	 * Définit style des listes à puce utilisées pour l'énumération des documents annexes
	 */
	list-style-image:url(images/trianglebordeau.gif)
}

/**********************************************************************************/

.navigation {
	/*  
	 *	Style de la barre de navigation horizontale qui permet de naviguer entre les différents 
	 *  documents
	 */
	width:auto;
	height:20;
	background-color:#E0E0E0;
	vertical-align:middle;
	font-weight:bold;
	color:#9C3234
}


.navigation_precedent {
	/*  
	 *	td aligné à gauche, contenant lien vers document précédent 
	 */
	
	width:300;
	background-color:#E0E0E0;
	float:left;
	text-align:left
}

.navigation_suivant {
	/*  
	 *	td aligné à droite, contenant lien vers document suivant 
	 */
	 
	width:auto;
	text-align:right
}

/*********************************************************************************************/
 
 /*
  * Les styles titre21 et signaler imprimer s'insèrent dans le style .titre2
  * Ils permettent l'afficheage des logos "signaler" et "imprimer" dans la barre
  * contenant les style "Titre2" 
  */
 
 .titre21 {
	height:20;
	width:500;
	float:left;
	
}

.signalerimprimer {
	width:auto;
	height:20;
	
}


/***************************************************************************************
 *	Styles concernant l'affichage de la barre de navigation                            *
 ***************************************************************************************
 */
 
 
	
.titrebarre
{
	/*  
	 *	 style permettant d'afficher le nom et la description de la revue dans la barre de navigation
	 */
	font-size:110%;
	width:auto;
	height:auto;
	background-color:#EFEFEF;
	font-weight:500;
	text-align :center;
	font-color :#9C3234;
	padding-top:20px;
	padding-bottom:20px
}

/*********************************************************************************/

.menu1 {
	height:auto;
	width:auto;
	font-weight:bold;
	color:#9C3234;
	padding-left:5px;
	margin-top:15px;
	margin-bottom:5px;
} 

A.menu1 {
	/*  
	 *	Styles des liens menus1 non visités et visités
	 */
	font-size:113%;
	text-decoration:none;
	font-weight:bold;
	color:#9C3234;
} 

A.menu1:hover {
	/*  
	 *	Styles  des liens menu1 survolés
	 */
 	color:#333333;
}
	 
A.menu1:active {
	/*  
	 *	Style des liens menu1 actifs
	 */
	color:#333333;
	
} 

/********************************************************************************/

.menu2 {
	height:auto;
	width:auto;
	font-weight:500;
	color:#000000;
	text-align:right;
	padding-right:1px;
} 

A.menu2 {
	/*  
	 *	Styles des liens menu2 non visités et visités
	 */
	text-decoration:none;
	font-weight:600;
	color:#666666;
	
} 

A.menu2:hover {
	/*  
	 *	Styles des liens menu2 survolés
	 */
	text-decoration:none;
	font-weight:600;
 	color:#333333;

} 

A.menu2:active {
	/*  
	 *	Style des liens menu2 actifs
	 */
	text-decoration:none;
	font-weight:600;
	color:#333333;
	
}

/*******************************************************************************/

.chercher {
	/*  
	 * Style qui s'applique au bloc contenant le moteur de recherche
	 */
	font-weight:bold;
	font-size:110%;
	color:#9C3234;
	border-bottom:3px solid #ffffff;
	border-top:3px solid #ffffff;
	padding-top:5px;
	background-color:#E7E7E7;
	padding-left:3px:
	
} 

/***************************************************************************************
 *	Styles spécifiques à signaler.html                                                 *
 ***************************************************************************************
 */

.signaler {
	/*  
	 * Style qui s'applique au bloc contenant le formulaire de signalement de document
	 */
	 
	width:561;
	height:auto;
	margin:0; 
}

 /***************************************************************************************
 *	Styles spécifiques aux pages d'affichages des index                                 *
 ****************************************************************************************
 */
 
.alphabet {
	/*  
	 *	Affichage de l'alphabet dans les index par auteur et par mot clé
	 */
	 width:auto;
	 height:20;
	 background-color:#9C3234;
	 font-weight :bold;
	 text-align:left; 
	 color:#ffffff;
	 margin-bottom:7px;
	 margin-top:15px;
	 vertical-align:middle;
}

A.alphabet {
	/*  
	 *	Styles des liens non visités et visités
	 */
	font-weight:bold;
	color:#cccccc;
	text-indent:0;
	margin:0;
	vertical-align:middle;

}

A.alphabet:hover {
	/*  
	 *	Styles des liens survolés
	 */
	font-weight:small;
	color:#ffffff;
	text-indent:0;
	margin:0;
	
}
A.alphabet:active {
	/*  
	 *	Style des liens actifs
	 */
	font-weight:small;
	color:#ffffff;
	text-indent:0;
	margin:0;
}

/**********************************************************************************/

.articles_motscles {
	/*  
	 *	Style des liens actifs
	 */
	 padding:10px;
	 font-size:90%;
}

	

/***************************************************************************************
 *	Styles admin                                                                        *
 ****************************************************************************************
 */

A.bouton_statut_publierOFF
{
	/*  
	 * Style des boutons qui servent à modifier le statut d'une publication. 
	 */
	color:#181B90;
	font-size:xx-small
}

.bouton_statut_publierON
{
	/*  
	 * Style des boutons qui servent à modifier le statut d'une publication. 
	 */
	color:#B20404;
	font-size:xx-small
}

.formulaire1 {
	text-align:center;
	width:auto;
	height:auto;
	}

.formulaire2 {
	height:auto;
	margin-right:auto;
	margin-left:auto;
	font-color :#9C3234;
	text-align:center
}

.revuesorg
{
	/*  
	 *	Style du lien vers le site de revues.org tout en bas de la page.
	 */
	font-size:70%;
	font-weight:small;
	text-align :center;
	margin-top:20px;

}

/***************************************************************************************
 *	Styles de forme                                                                      *
 ****************************************************************************************
 */

 .smallcaps {
 	/*  
	 * Met le mot en petite majuscule
	 */
	font-variant:small-caps
	
}

.pluspetit {
	/*  
	 * Diminue la taille de la police héritée  de 10%
	 */
	font-size:60%
}

.plusgrand {
	/*  
	 * Agrandit la taille de la police héritée  de 10%
	 */
	 font-size:110%;
	 font-weight:bold
}

.italic {
	/*  
	 * Met en Italique
	 */
	 font-size:90%;
	 font-style:italic
}

.bold   {
	/*
	 * Met en gras l'élément voulu.
     */
	 font-weight:bold;
}

 


.texte_petit
{
	/*  
	 *
	 */
	font-size:xx-small;
	font-weight:small;
	text-align :justify;
	
}

.texte_trespetit
{
	/*  
	 *
	 */
	font-size:xx-small;
	font-weight:small;
	text-align :justify;
	
}


.texte_centre
{
	/*  
	 *
	 */
	font-size:small;
	font-weight:small;
	text-align :center;
	
}

.texte_trespetit_centre
{
	/*  
	 *
	 */
	font-size:xx-small;
	font-weight:small;
	text-align :center;

}

.texte_petit_centre
{
	/*  
	 *
	 */
	font-size:small;
	font-weight:small;
	text-align :center;
	font-color :#9C3234;
	
}

	/*	
	 * style des liens 
  	 */

.discret, A.discret:link, A.discret:hover, A.discret:visited, A.discret:active
{
	/*  
	 *
	 */
	font-size:xx-small;
	color :#AAAAAA;
	font-family:"Arial, Verdana, Helvetica, sans-serif, Times New Roman";
}

A.petittexte {
	font-size:xx-small;
	font-weight:small;
	text-decoration:none;
	color:#9C3234;
	
}

A.petittexte:hover {
	font-size:xx-small;
	font-weight:small;
	text-decoration:none;
	color:#666666;
	
}

A.petittexte:active {
	font-size:xx-small;
	font-weight:small;
	text-decoration:none;
	color:#666666;
	
}




/***************************************************************************************
 *	Styles propres à la barre Lodel                                                    *
 ****************************************************************************************
 */




.texte_lodelbarre {
font-size:small;
font-weight:small;
text-align :justify;
font-family:Verdana;
}

.texte_petit_lodelbarre {
font-size:x-small;
font-weight:small;
text-align :justify;
font-family:Verdana;
}
