/*********************************************************************************************
 *  Feuille de style contenant toutes les définitions d'images                               *                                   * 
 *  Mai 2003                                                                                 *
 *********************************************************************************************
 */

 /*
  *	les styles concernant le logo Lodelia
  */
 
.partielogo1 , A.partielogo1 {
 		height: 111;
		width: 532;
		background-color: #ffffff;
		background-image: url(images/logo_lodeliarouge.gif);
		border: 0;
		margin: 0;
		padding: 0;
		float: left		
}

.partielogo2 , A.partielogo2 {
 		height: 111;
		width: 29;
		background-color: #ffffff;
		background-image: url(images/right_top.gif);
		padding: 0;
		border: 0;
		right:0;
		margin: 0
		
		}

/**************************************************************************************/

	/*
 	 *	l'image placée dans index.html
 	 */

.imageindex {
	padding: 0;
	width: auto;
	height: 301;
	background-image: url(images/image.jpg);
	background-repeat : no-repeat;
	margin: 0;
}


/***************************************************************************************/
	
	/*
 	 *	Les styles définissant les différentes images du logo de Revues.org                       
     */
 
 .logo_revuesorg1 {
	height: 11;
	width: 165;
	background-color: #EFEFEF;
	background-image: url(images/left_top.gif);
	border-bottom: 3px solid #ffffff;
	margin: 0;
}

.logo_revuesorg3 {
	height:50;
	width:165;
	margin:0;
	background-color:#EFEFEF;
}

 A.logo_revuesorg3  {
	/*
 	 *	Logo avec Roll Over : définition du style quand le logo est inactif                       
     */
	height:50;
	width:165;
	
	background-image:url(images/logo_revues.gif);
	margin:0;
	top:11;
	}

	
A.logo_revuesorg3:hover    {
	/*
 	 *	Logo avec Roll Over: définition du style quand le logo est survolé                     
     */
	height:50;
	width:165;
	background-color:#EFEFEF;
	background-image:url(images/logo_revues_on.gif);
	margin:0;
}


.logo_revuesorg4 {
	vertical-align:top;
	height:18;
	width:165;
	background-color:#ffffff;
	background-image:url(images/left_top2.gif);
	border-bottom:3px solid #ffffff;
	margin:0;
}

.vide  {
	/*
 	 *	Logo avec Roll Over: définition du style quand le logo est survolé                     
     */
	height:50;
	width:165;
	margin:0;
	visibility:hidden;
	background-color:transparent
}

/********************************************************************************************/

.couleur_1
{
	/*  
	 * Couleur dominante n°1
	 */
	color :#9C3234;
}

.couleur_2
{
	/*  
	 * Couleur dominante n°2
	 */
	color :#9DD4B7;
}

.couleur_3
{
	/*  
	 * Couleur dominante n°3
	 */
	color :#ffffff;
}

.filet_1
{
	/*  
	 * Largeur du filet <hr> n°1
	 */
	width:30%;
	text-align:center;
}

.filet_2
{
	/*  
	 * Largeur du filet <hr> n°2
	 */
	width:60%;
}

.filet_3
{
	/*  
	 * Largeur du filet <hr> n°3
	 */
	width:100%;
}