/*********************************************************************************************
 *  Feuille de style contenant toutes les définitions d'images                               *                                   * 
 *  Mai 2003                                                                                 *
 *********************************************************************************************
 */

 /*
  *	les styles concernant le logo Lodelia
  */
 
.partielogo1 {
 		height: 111;
		width: 532;
		background-color: #ffffff;
		background-image: url(images/logo_lodeliarouge.gif);
		border: 0;
		margin: 0;
		padding: 0;
		float: left;		
}

.partielogo2 {
 		height: 111;
		width: 29;
		background-color: #ffffff;
		background-image: url(images/right_top.gif);
		padding: 0;
		border: 0;
		margin: 0;
		
		}

/**************************************************************************************/

	/*
 	 *	l'image placée dans index.html
 	 */

.imageindex {
	padding: 0;
	width: auto;
	height: 301;
	background-image: url(images/image.jpg);
	background-repeat : no-repeat;
	margin: 0;
}


/***************************************************************************************/
	
	/*
 	 *	Les styles définissant les différentes images du logo de Revues.org                       
     */
 
 .logo_revuesorg1 {
	height: 11;
	width: 165;
	background-color: #EFEFEF;
	background-image: url(images/left_top.gif);
	border-bottom: 3px solid #ffffff;
	margin: 0;
}


.logo_revuesorg3 a  {
	/*
 	 *	Logo avec Roll Over : définition du style quand le logo est inactif                       
     */
	height: 50;
	width: 165;
	background-color: #EFEFEF;
	background-image: url(images/logo_revues.gif);
	margin: 0;
	}


.logo_revuesorg3 a:hover  {
	/*
 	 *	Logo avec Roll Over: définition du style quand le logo est survolé                     
     */
	height: 50;
	width: 165;
	background-color: #EFEFEF;
	background-image: url(images/logo_revues_on.gif);
	margin: 0;
}


.logo_revuesorg4 {
	vertical-align: top;
	height: 18;
	width: 165;
	background-color: #ffffff;
	background-image: url(images/left_top2.gif);
	border-top: 3px solid #ffffff; 
	border-bottom: 3px solid #ffffff;
	margin: 0;
}





