html {
	height:100%;
}
 body
{
	/*  Définit la couleur d'arrière plan du corps du document HTML ainsi que ses marges
	 *
	 */
	 margin:0;
	 padding:0;
	 font-size: 85%;
	 font-family: verdana, sans-serif;
	 text-decoration:none;
	 font-weight:normal;
	 text-indent:0;
	 height:100%;
	}
img{
	border: none;
}
fieldset{
	border: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, .titre1, .titre2, .titre3, .titre4{
	color: #333;
	font-weight: bold;
	padding-right: 10px;
	text-align: left;
	display: block;
}
a, a.titre2{
	text-decoration: none;
	color: #CC6600;
}
h1, .section1{
	font-size: 135%;
	font-variant: small-caps;
}
.section1{
	margin-bottom: 10px;
}
h2, .section2{
	font-size: 125%;
}
h3, .section3{
	font-size: 115%;
	font-weight: normal;
}
h1.nom-site{
	margin: 0px;
	padding: 0px;
	text-align: right;
}
h1.accueil{
	background: #9CBD9C;
	padding: .5ex 0 .5ex .5em;
	font-size: 155%;
	color: #fff;
}
h2.regroup{
	font-variant: small-caps;
	margin: 15px 0px 10px 0px;
	border-bottom: 2px solid #9CBD9C;
}
h2.sommaire{
	font-variant: small-caps;
	margin: 15px 0px 10px 0px;
	font-size: 135%;
}
h3, h4{
	margin-top: 0px;
	margin-bottom: 0px;
}
h4{
font-weight: normal;
}
h2.titre-doc, h3.titre-doc{
	margin: 15px 0px 10px 0px;
}
h2.titre-doc{
	font-size: 150%;
}
p{
	padding-right: 10px;
	text-align: justify;
}
form{
	margin: 0;
	padding: 0;
}
table, th, td{
	text-align: left;
}
.main {
	background-color: #fff;
	margin: 0px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0;
	height:100%;
	border: 1px solid #9CBD9C;
	border-top: none;
	border-bottom: none;
	width: 772px;  /* bmh */	
	voice-family: "\"}\""; 
	voice-family:inherit;
	width: 770px;	 
}
html>table.main{
	width: 770px;
} 
td{
	vertical-align: top;
}
td.barre{
	height: 100%;
	width: 165px;
	border-right: 13px solid #fff;
}
td.middle{
	height: 100%;
}
#barrenav {
	/*
	 * Style de la barre de navigation, elle est placée à gauche de l'élément de class "corps"
	 * grâce à l'attribut "float"
	 */
	/*float: left;*/
	background-color: #9CBD9C;
	width: 165px;
	height: 100%;
}
#barrenav ul {
	text-align: right;
	list-style: none;
	padding-left: 5px;
	padding-right: 5px;
	margin:0;
}
#barrenav h1 {
	text-align: center;
	font-size: 110%;
}
#barrenav dt {
	font-weight: 900;
	font-size: 110%;
	padding-left: 5px;
}
#barrenav dd {
	font-weight: 900;
	padding:0;
	margin:0;
}
#barrenav a {
	color: #fff;
}
#titrebarre{
	text-align: center;
	font-size: 85%;
}
#titrebarre strong{
	font-size: 185%;
	display: block;
	padding-top: 10px;
	font-variant: small-caps;
}
#titrebarre span.description-site{
	display: block;
	padding: 5px;
	padding-bottom: 10px;
}
#titrebarre img{
	margin-top: 10px;
}
#chercher{
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	padding: 10px 5px;
}
#chercher label{
	font-size: 110%;
	font-weight: bold;
	display: block;
	margin-top: 10px;
	margin-bottom: 0px;
}
a.admin, a.rss{
	display: block;
	text-align: center;
	font-size: 80%;
	margin-bottom: 10px;
}
#publications-menu{
	padding-top: 10px;
}
#publications-menu li.first{
	margin-bottom: 10px;
}
#index a, #publications-menu a{
	font-weight: bold;
}
#index dt{
	margin-bottom: 10px;
}
#contenu{
	margin: 0px 0px 0px 16px;
	width: auto;
	height:100%;
	background-color: #fff;
}
#footer{
	clear:both;
	text-align: center;
	padding-bottom: 1ex;
	padding-top: 3ex;
	font-size: 85%;
	margin-right: 20px;
}
.pluspetit{
	font-size:smaller;
	font-weight: normal;
	padding: 0;
	margin: .3ex 0 .2ex 0;
}
.smallcaps {
	font-variant: small-caps;
}
p.texte{
	padding-left: 1em;
}
p.citation{
	margin-left: 2em;
	padding-left: .5em;
	/*border-left: 1px solid #666;*/
}
#alphabet dt{
	font-weight: bold;
	margin-top: 2ex;
	margin-bottom: .5ex;
	background: #eee;
	padding: .2ex 0 .2ex .5em;
}
a.alphabet{
	background: transparent;
	padding: 0 2px 0 2px;
	font-size: 105%;
	font-weight: bold;
}
a.alphabet:hover{
	background: #fff;
}
div.alphabet{
	background: #eee;
	padding: 2px;
}
#toc{
	margin-top: 30px;
	margin-bottom: 30px;
}
#toc a{
	font-weight: bold;
}
#toc a:hover{
}
.toc_section1{
	font-weight: bold;
	font-variant: small-caps;
	/*letter-spacing: .1em;*/
	margin-top: 1ex;
	margin-bottom: 1ex;
	font-size: 105%;
}
.toc_section2{
	font-weight: bold;
	padding-left: 1em;
	margin-top: .5ex;
	margin-bottom: .5ex;
}
.toc_section3{
	font-weight: bold;
	padding-left: 2em;
	margin-top: .5ex;
	margin-bottom: .5ex;
}
.toc_section4{
	font-weight: bold;
	padding-left: 3em;
	margin-top: .5ex;
	margin-bottom: .5ex;
}
.toc_section5{
	font-weight: bold;
	padding-left: 4em;
	margin-top: .5ex;
	margin-bottom: .5ex;
}
.toc_section6{
	font-weight: bold;
	padding-left: 5em;
	margin-top: .5ex;
	margin-bottom: .5ex;
}
#toc h4{
margin-bottom: 15px;
}
.auteur{
	color: #646464;
	font-weight: bold;
	margin-top: 1ex;
	text-transform: capitalize;
	text-align: left;
}
.article{
	display: block;
	margin-bottom: 15px;
}
.navigation_suivant{
	margin-top: 20px;
	float: right;
	margin-right: 10px;
	font-size: 85%;
	text-align: right;
	width: 150px;
}
.navigation_precedent{
	margin-top: 20px;
	float: left;
	font-size: 85%;
	width: 150px;
}
.notes{
	padding-right: 10px;
	text-align: justify;
}
.signalerimprimer{
	margin: 10px 0 10px 0;
}
.pourciter{
	margin-top: 10px;
	margin-bottom: 15px;
}
.footnotecall{
	vertical-align: super;
	font-size: smaller;
	padding-left: 3px;
}
/* Mise en page formulaire signaler */

#signaler{
	margin-top: 30px;
}

#signaler div.row {
	 clear: both;
	 padding-top: 6px;
	 padding-bottom: 6px;
 }


#signaler label {
	 float: left;
	 width: 200px;
	 text-align: right;
	 display: block;
	 /*font-weight: bold;*/
 }
 
#signaler span.formw {
	 float: right;
	 width: 350px;
	 text-align: left;
	 display: block;
	 /*clear: both;*/
 }
.soustitresite{
	display: block;
	font-size: small;
}
.right{
	float: right;
	margin-right: 10px;
}
.lettrine{
	font-weight: bold;
	font-size: larger;
}
/*added for the search engine form */
.searchfieldset
{
	font-size : 11px;
	margin : 2px;
	color : #fff;
	border : 1px solid white;
}

.searchfields
{
	max-width : 150px;
	font-size : 11px;
	width : 150px;
}
.searchbutton
{
	font-size : 11px;
}
.texte_petit
{
	font-size : 11px;
}
div.pagination
{
	text-align : right;
	color : #fff;
	background-color : #9CBD9C;
	margin : 0px 10px 5px 0px;
	font-family : courier,"Trebuchet MS",arial;
	padding : 2px;

}
div.pagination a.linkpage
{
	color : #fff;
	
}
span.currentpage
{
	font-size : 120%;
	font-weight : bold;
	font-family : courier,"Trebuchet MS",arial;
	color : #000;
}
p.searchresults
{
	text-align : right;
	font-size  : 90%;
	padding-bottom : 5px;
	border-bottom : 1px solid black;
}
div.results
{
	margin-left : 5px;
	font-size : 95%;
}
p.infosearch
{
	font-size : 80%;
	border-bottom : 1px solid #9CBD9C;
	margin : 15px 0px 0px 15px;
	
}	