html {
	height:100%;
}
 body
{
	/*  Définit la couleur d'arrière plan du corps du document HTML ainsi que ses marges
	 *
	 */
	margin: 0;
	padding:0;
	font-family: verdana, sans-serif;
	text-indent:0;
	height:100%;
	font-size: 100%;
}
#main{
	position: relative;
	margin-left: 1em;
	font-size: 85%;
	width: 90%;
}
img{
	border: none;
}
fieldset, form{
	border: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, .titre1, .titre2, .titre3, .titre4{
	color: #333;
	font-weight: bold;
	padding-right: 10px;
	text-align: left;
	display: block;
}
h1, .section1{
	font-size: 135%;
}
.section1{
	margin-bottom: 10px;
}
h2, .section2{
	font-size: 125%;
}
h3, .section3{
	font-size: 100%;
	font-weight: bold;
}
h1.nom-site{
	margin: 0px;
	padding: 0px;
	text-align: right;
}
h2.sommaire, h1.accueil{
	margin: 0 .1em 10px -1em;
	padding: 2px 1em 5px 1em;
	font-weight: normal;
	font-size: 105%;
	background-color: #D8E4E7;
	font-variant: small-caps;
}
h1.accueil{
	font-weight: bold;
}
h3, h4{
	margin-top: 0px;
	margin-bottom: 0px;
}
h4{
font-weight: normal;
font-size: 11px;
}
h2.titre-doc, h3.titre-doc{
	margin: 15px 0px 10px 0px;
}
h2.titre-doc{
	font-size: 150%;
}
p{
	max-width: 530px;
	text-align: justify;
	line-height: 150%;
	font-size: 110%;
}
form{
	margin: 0;
	padding: 0;
}
#haut{
	height: 115px;
	width: 100%;
	background-color: transparent;
	position: absolute;
	top: 20px;
}
#cartouche{
	border: 1px solid #BCBCBC;
	border-top: 6px solid #5580C4;
	border-bottom: none;
	height: 100px;
	padding-left: 130px;
	width: 250px;
	font-size: 100%;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
	float: left;
	background-color: #E5E5E5;
	background-image: url(../images/logo_G.png);
	background-repeat: no-repeat;
	background-position: 10px 12px;
	z-index: 5;
}
#cartouche a{
	color: #000;
}
#cartouche .description-site{
	font-weight: normal;
	font-size: 90%;
	display: block;
}
#lettre{
	position: absolute;
	right: 20%;
	height: 116px;
	background-color: transparent;
	width: 390px;
	background-image: url(../images/coin.png);
	background-repeat: no-repeat;
	background-position: 43% 48%;
}
#lettre label{
	font-size: 85%;
	margin-left: 50%;
}
#lettre input, #recherche input{
	border: 1px solid #000;
	vertical-align: middle;
}
#lettre input.rech{
	margin-left: 50%;
	width: 43%;
}
#lettre fieldset{
	margin-top: 60px;
}
#recherche{
	width: 64%;
	background-image: url(../images/arrondi_D.png);
	background-repeat: no-repeat;
	background-position: top  right;
	background-color: #5580C4;
	height: 35px;
	border-bottom: 1px solid #5580C4;
	border-left: 1px solid #5580C4;
	position: absolute;
	left: 175px;
	top: 116px;
}
#recherche form{
	padding: 0.8ex 1em;
}
#marteau{
	position: absolute;
	top: 5px;
	left: 10px;
	background-color: transparent;
	display: none;
}
#sep{
	background-color: #E5E5E5;
	position: absolute;
	left: 0;
	top: 116px;
	height: 35px;
	width: 173px;
	border: 1px solid #BCBCBC;
	border-right: 1px solid #E5E5E5;
	border-top: none;
	border-bottom: 1px solid #E5E5E5;
}
#menu{
	position: absolute;
	left: 0;
	width: 173px;
	top: 172px;
	background-color: #E5E5E5;
	border-left: 1px solid #BCBCBC;
}
#menu li, #menu ul{
	list-style-type: none; 
	margin-top: 0;
	padding: 0;
	margin-left: 0;
}
#menu a{
	color: #333;
	font-weight: normal;
	font-size: 85%;
}
#menu a:hover{
	color: #000;
}
a.admin, a.rss{
	display: block;
	text-align: center;
	font-size: 80%;
	margin-bottom: 10px;
}
#publications-menu{
}
#index{
	margin-top: 0;
}
#publications-menu li.first, #index dt{
	font-size: 85%;
	background-color: #9EC6DD;
	line-height: 20px;
	text-align: middle;
	margin-bottom: 5px;
	color: #fff;
	font-weight: bold;
	border-top: 1px dashed #000;
}
#publications-menu li.first{
	padding-left: .5em;
}
#publications-menu li{
	padding-left: 1em;
}
#index dt{
	padding-left: .3em;
	margin-left: 0;
}
#index dd{
	padding-left: 1em;
	margin-left: 0;
}
#contenu{
	background-image: url(../images/picto-som.png);
	background-repeat: no-repeat;
	background-position: 0 88px;
	width: 64%;
	background-color: #F6F6F6;
	border: 1px solid #BCBCBC;
	margin: 0;
	position: absolute;
	left: 174px;
	top: 172px;
	border-right: 1px solid #fff;
}
#inside{
	margin-left: 25px;
	padding: 0 0 20px 1em;
	font-size: 85%;
	border-left: 1px dotted #000;
	background-color: #fff;
	background-image: url(../images/pix.png);
	background-repeat: repeat-y;
	background-position: 100% 0;
}
#footer{
	clear:both;
	text-align: center;
	padding-bottom: 1ex;
	padding-top: 3ex;
	font-size: 85%;
	margin-right: 20px;
}
img{
	border: none;
}
fieldset{
	border: none;
	margin: 0;
	padding: 0;
}
a{
	color: #434343;
	text-decoration: none;
}
#a:hover{
	color: #000;
}

h1, .section1{
	font-size: 135%;
}
.section1{
	margin-bottom: 10px;
}
h2, .section2{
	font-size: 125%;
}
h1.nom-site{
	background: #fff;
	margin: 0px;
	padding: 0px;
	padding-right: 20px;
	text-align: right;
	padding-top: 15px;
}
a.accueil{
	color: #333;
}
h2.regroup{
	margin: 15px .1em 10px -1em;
	background-color: #F6F6F6;
	padding: 2px 1em 5px 1em;
	font-size: 11px;
}
h2.titre-doc{
	font-size: 150%;
}
#publications-menu{
	padding-top: 10px;
}
#publications-menu{
	margin-bottom: 10px;
}
#index a, #publications-menu a{
	color: #434343;
	font-weight: normal;
	font-size: 80%;
}
#index a:hover, #publications-menu a:hover{
	color: #000;
}
#footer{
	clear:both;
	text-align: center;
	padding-bottom: 1ex;
	padding-top: 3ex;
	font-size: 85%;
	margin-right: 20px;
}
.pluspetit{
	font-size:smaller;
	font-weight: normal;
	padding: 0;
	margin: .3ex 0 .2ex 0;
}
.smallcaps {
	font-variant: small-caps;
}
#texte p{
	margin: 2ex 1em 2ex 0;
}
#texte p.citation{
	margin-left: 2em;
}
#alphabet dt{
	font-weight: bold;
	margin-top: 2ex;
	margin-bottom: .5ex;
	margin-right: .2em;
	background: #eee;
	padding: .2ex 0 .4ex 1em;
	margin-left: -1em;
}
#alphabet dd{
	margin-left: 0;
	line-height: 150%;
}
a.alphabet{
	background: transparent;
	padding: 0 2px 0 2px;
	font-size: 105%;
	font-weight: bold;
}
a.alphabet:hover{
	background: #5580C4;
	color: #fff;
}
div.alphabet{
	background: #eee;
	padding: .2ex 0 .2ex 1em;
	margin-left: -1em;
	margin-right: .2em;
}
#toc{
	margin-top: 30px;
	margin-bottom: 30px;
	line-height: 150%;
}
#toc a:hover{
}
.toc_section1{
	font-weight: bold;
	/*letter-spacing: .1em;*/
	margin-top: 1ex;
	margin-bottom: 1ex;
	margin-right: 1ex;
	font-size: 105%;
}
.toc_section2{
	padding-left: 1em;
	margin-top: .5ex;
	margin-bottom: .5ex;
}
.toc_section3{
	padding-left: 2em;
	margin-top: .5ex;
	margin-bottom: .5ex;
}
.toc_section4{
	padding-left: 3em;
	margin-top: .5ex;
	margin-bottom: .5ex;
}
.toc_section5{
	padding-left: 4em;
	margin-top: .5ex;
	margin-bottom: .5ex;
}
.toc_section6{
	padding-left: 5em;
	margin-top: .5ex;
	margin-bottom: .5ex;
}
#toc h4{
margin-bottom: 15px;
}
.auteur{
	margin-top: 1ex;
	text-transform: capitalize;
	text-align: left;
	font-size: 12px;
}
.article{
	display: block;
	margin-bottom: 15px;
}
.navigation_suivant{
	margin-top: 20px;
	float: right;
	margin-right: 10px;
	font-size: 85%;
	text-align: right;
	width: 150px;
}
.navigation_precedent{
	margin-top: 20px;
	float: left;
	font-size: 85%;
	width: 150px;
}
.notes{
	padding-right: 10px;
	text-align: justify;
}
.signalerimprimer{
	text-align: right;
	float: right;
	padding: 2px 5px 0 0;
	width: 50%;
	margin-right: -5px;
}
.pourciter{
	margin-top: 10px;
	margin-bottom: 15px;
}
.footnotecall{
	vertical-align: super;
	font-size: smaller;
	padding-left: 3px;
}
/* Mise en page formulaire signaler */

#signaler{
	margin-top: 30px;
}

#signaler div.row {
	 clear: both;
	 padding-top: 6px;
	 padding-bottom: 6px;
 }


#signaler label {
	 float: left;
	 width: 230px;
	 text-align: right;
	 display: block;
	 /*font-weight: bold;*/
 }
 
#signaler span.formw {
	 float: right;
	 width: 300px;
	 text-align: left;
	 display: block;
	 /*clear: both;*/
 }
.soustitresite{
	display: block;
	font-size: small;
}
.right{
	float: right;
	margin-right: 10px;
}
span.soustitre{
	font-size: smaller;
	font-weight: normal;
}
.spacer{
	clear: both;
}
#type, #resume h4, #toc h4, #txt{
	color: #fff;
	font-weight: bold;
	text-align: left;
	background-color: #D8E4E7;
	height: 20px;
	margin-left: -1em;
	margin-right: .2em;
}
#type strong, #resume strong, #toc strong, #txt strong{
	color: #fff;
	max-width: 50%;
	float: left;
	display: block;
	background-color: #858585;
	padding: 3px 1em 3px 1em;
	font-size: 11px;
}
#type strong{
	background-color: #000;
}
#resume p{
	margin: 1ex 1em 2ex 0;
}
p.extrait, p.nouveaute, .notes{
	margin-right: 1em;
	text-align: justify;
}
.notes{
	margin-top: 10px;
}