/* CSS Document */
body{
	margin: 0;
	background-color: #fff;
    font-family: Verdana, Arial, sans-serif;
    font-size: 80%;
	color: #333;
}
h1{
    font-family: Verdana,Arial;
    font-size: 150%;
  	color: #63944A;
    text-align: center;
	margin-top: 50px;
    margin-bottom: 50px;
}
h2{
	font-family: Verdana,Arial;
	font-size: 150%;
	color: #544A35;
	text-align: center;
	padding-bottom: 20px;
}
h3{
	font-family: Verdana,Arial;
	font-size: 100%;
	color: #544A35;
	text-align: center;
	padding-bottom: 20px;
}
hr{
	height: 2px;
}
li{
	margin-top: 10px;
	margin-bottom: 10px;
}
fieldset{
	width: 80%;
}
legend{
	font-weight: bold;
	color: #000;
}
a:link {
    color: #CC6633;
    text-decoration: none;
}
a:visited {
	color: #666666;
}
a:hover {
	color: #FFAD00;
}
a:active {
	color: #333366;
}
p {
	color: #544A35;
	text-align: justify;
	line-height: 150%;
	padding-bottom: 10px;
	margin-right: 20%;
}
td, th, table{
	border-collapse: no-collapse;
	margin: 0;
	padding: 3px 5px;
	vertical-align: top;
}
table{
	padding: 0;
}
form{
	margin: 0;
	padding: 0;
}
label{
	font-weight: bold;
	font-size: 95%;
}
dl{
	width: 80%;
}
dt{
	margin-bottom: 10px;
	margin-top: 15px;
	font-weight: bold;
	border-bottom: 1px solid #333;
	padding-bottom: 5px;
}
dd{
	margin-bottom: 10px;
	text-align: justify;
	line-height: 150%;
}
form.install{
	margin-top: 10px;
}
#logo{
	margin: 0;
	text-align: left;
	width: 521px;
	position: absolute;
	left: 0;
	top: 0;
}
#install{
	background-image: url(../images/install_fleche_cercle.png);
	background-repeat: no-repeat;
	background-position: left middle;
	position: absolute;
	right: 0;
	top: 20px;
	margin-right: 2%;
	padding-left: 75px;
	padding-top: 5px;
	height: 39px;
}
#bandeau{
	background-image: url(../images/install_bandeau_bas.jpg);
	background-repeat: repeat-x;
	height: 63px;
	width: 100%;
	clear: both;
	position: absolute;
	left: 0;
	top: 100px;
}
#bandeau h3{
	background-image: url(../images/install_fleche_or.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 55px;
	height: 41px;
	width: 90%;
	text-align: left;
	font-size: 120%;
	margin: 0;
	padding-top: 8px;
	margin-top: 24px;
	margin-left: 10px;
}
#main{
	width: 90%;
	margin: 30px 7% 0px 7%;
	position: absolute;
	top: 150px;
}
#formulaire{
	text-align: right;
	margin-top: 25px;
}
td.left{
	text-align: left;
}
.or{
	color: #FFAD00;
}
.pied_de_formulaire{
	text-align: right;
	margin-right: 20%;
	margin-top: 15px;
}
.small, .message_erreur{
	font-size: 75%;
}
.message_erreur{
	color: red;
	text-align: left;
}