
/* Ces styles ne sont pas dans styles_lodel.css qui n'est pas chargé en mode visualisation */

/****************DESK*************************/

body{
	margin: 0;
	padding: 0;
}

#lodel-desk{
	/*background-image: url("[#SHAREURL]/images/bandeau.jpg");
	background-repeat: no-repeat;*/
	background-color: #d4d7cc;
	height: 124px;
	font: 11px verdana, sans-serif !important;
	text-align: left !important;
	color: #333;
}

#lodel-desk h1{
	margin: 0;
	padding: 0;
}


#lodel-desk a{
	text-decoration: none;
	color: #0e2d7c;
}

/* Groupe des boutons du desk */


#lodel-desk ul, #lodel-desk li{
	list-style: none;
	margin: 0;
	padding: 0;
}

#lodel-desk ul.group1, #lodel-desk ul.group2{
	position: absolute;
	top: 65px;
}

#lodel-desk ul.group1{
	left: 0;
	padding: 0 .5em;
}

#lodel-desk ul.group2{
	top: 60px;
	right: .5em;
}

#lodel-desk ul li{
	float: left;
	width: auto;
	display: block;
	margin: 0 .4em 0 0;
	height: 20px;
}

#lodel-desk ul li a{
	display: block;
	float: left;
	text-align: center;
	color: #98e8f4;
	font-weight: bold;
	padding: 1ex 1em 1ex 1em;
	height: 17px;
}

#lodel-desk ul li a.actif, #lodel-desk ul li a:hover{
	color: #ffff00;
}

#lodel-desk ul.group2 a#logout, #lodel-desk ul.group2 a#clearcache{
	height: 16px;
	padding: 0 0 0 20px;
	font-weight: normal;
	color: #000;
	margin-right: 1em;
}

#lodel-desk ul.group2 a#logout:hover, #lodel-desk ul.group2 a#clearcache:hover{
	color: #666;
}

#lodel-desk #deskContext{
	position: absolute;
	top: 98px;
	left: 0;
	background: #e18600;
	width: 100%;
	height: auto;
}

#lodel-desk #deskContext li{
	height: auto;
	margin: 0;
	background: #e18600;
}

#lodel-desk #deskContext li a{
	background: transparent;
	font-weight: normal;
	color: #fff;
	padding: .8ex 1em;
	margin: 0;
}

#lodel-desk #deskContext li strong{
	display: block;
	color:  #ffff00;
	padding: 1ex 1em;
}

/* Fin boutons du desk */



/* liste sites pour desk lodeladmin */

#lodel-desk div.sites{
	color: #CC9933;
	font-weight: bold;
	height: 2ex;
	z-index: 2;
	position: absolute;
	left: 320px;
	top: .5ex;
}

#lodel-desk div.sites select{
	width: 150px;
	font-size: 11px;
}

#lodel-desk table.infos{
	position: absolute;
	right: 0;
	top: 0;
	/*width: 40%;*/
	font-size: 90%;
	border: 0;
	border-collapse: collapse;
}

#lodel-desk table.infos td, #lodel-desk table.infos th{
	border: 1px solid #848484;
	border-left: 0;
	background: #c3c3c3;
	padding: .7ex .7em;
	vertical-align: middle;
	height: 15px;
}

#lodel-desk table.infos th{
	border-right: 3px solid #848484;
	text-align: left;
}

#siteContext ul.entitiesPath, #siteContext ul.entitiesPath li, #siteContext #actionsOnEntitiesPath, #siteContext #actionsOnEntitiesPath li{
	list-style: none;
	padding: 0;
	margin: 0;
}

#siteContext ul.entitiesPath a, #siteContext #actionsOnEntitiesPath a{
	color: #ff5b04;
	font-weight: normal;
	border:none;
	display: inline;
}

#siteContext ul.entitiesPath, #siteContext #actionsOnEntitiesPath{
	padding: .5ex 0 0 1em;
	height: 4ex;
	font-size: 90%;
	border-bottom: 1px solid #aaa;
	background: #f1f5fb;
}

#siteContext ul.entitiesPath li, #siteContext #actionsOnEntitiesPath li{
	float: left;
	padding: 0;
	margin: .3ex .4em 0 0;
	color: #333;
	height: auto;
	background: transparent;	
}

#siteContext ul.entitiesPath.site a{
	color: green;
}

#siteContext select.barInfo{
	font: normal 90% verdana, sans-serif;
}


#siteContext select.barInfo{
	border: 1px solid #aaa;
}

#siteContext #actionsOnEntitiesPath{
	background: #e0e7f2;
	font-weight: bold;
	position: relative;
}

#siteContext #actionsOnEntitiesPath li.entitieTitle{
	font-weight: bold;
}

#siteContext #actionsOnEntitiesPath li.entitieTitle em{
	font-weight: normal;
}

#siteContext #actionsOnEntitiesPath ul.actions{
	position: absolute;
	top: .5ex;
	right: .5em;
}

#siteContext #actionsOnEntitiesPath ul.actions li{
	margin-left: 1em;
	font-weight: bold;
}

#siteContext #actionsOnEntitiesPath ul.actions li a{
	font-weight: bold;
}

#siteContext .inactif{
	color: #666;
}

/* moteur */

#lightSearchForm{
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
}

#lightSearchForm fieldset{
	margin: 0;
	padding: 3px 15px 4px 25px;
	border: 0;
	width: auto;
	background: #828486;
}

#lightSearchForm input.text, #lightSearchForm input.lightSearch, select.barInfo{
	font: normal 90% verdana, sans-serif;
	border: 1px solid #333;
}


select.barInfo{
	border: 1px solid #aaa;
}


#lightSearchForm input.lightSearch{
	border: 0;
	font-weight: bold;
	background: transparent;
	color: #fff;
	font-size: 12px;
}

/****************FIN DESK*************************/